@model IEnumerable<IVSoftware.Data.Models.WorkingRangeModel>

@{
    ViewData["Title"] = "Rangos de trabajo";
}

<h1>Rangos de trabajo</h1>

<p>
    <a asp-action="Create">Registrar rango de trabajo</a>
</p>
<table class="table">
    <thead  style="background-color:yellowgreen; color:white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.Raw("Rango")
            </th>
            <!--<th>
                @Html.DisplayNameFor(model => model.Precondition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinimumValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaximumValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegisterStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDatetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModificationDatetime)
            </th>-->
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkingRange)
            </td>
            <!--<td>
                @Html.DisplayFor(modelItem => item.Precondition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinimumValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegisterStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDatetime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModificationDatetime)
            </td>-->
        <td style="white-space:nowrap">
            <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit" style="font-size:larger"></i></a>&nbsp;
            <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-stream" style="font-size:larger; color:green"></i></a>&nbsp;
            <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-minus-circle" style="font-size:larger; color:red"></i></a>

            <!--<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>-->
        </td>
        </tr>
}
    </tbody>
</table>
