@model IVSoftware.Web.Models.Evaluacion

@{
    ViewData["Title"] = "Evaluación - Detalles";
}

<h5 class="text-primary titulo">Evaluación - Detalles</h5>
<hr />

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Nombre)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Nombre)
    </dd>
</dl>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Regresar</a>
</div>

<br />

<h6 class="text-success titulo">Preguntas</h6>
<table class="table">
    <thead style="background-color:yellowgreen; color:white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListPregunta[0].Orden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListPregunta[0].Enunciado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListPregunta[0].DescripcionTipoPregunta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListPregunta)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Orden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enunciado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionTipoPregunta)
            </td>
            <td align="right">
                <a asp-controller="Pregunta" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit" style="font-size:larger"></i></a>&nbsp;
                <a asp-controller="Pregunta" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-stream" style="font-size:larger; color:green"></i></a>&nbsp;
                <a asp-controller="Pregunta" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-minus-circle" style="font-size:larger; color:red"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>

<div>
    <input type="button" value="Agregar" onclick="location.href='@Url.Action("Create", "Pregunta", new { EvaluacionId = Model.Id })'"
           class="btn btn-primary btn-sm"
           style="margin-top:10px" />
</div>