@model IVSoftware.Data.Models.ServiceGroupModel

@{
    ViewData["Title"] = "Editar grupo de servicios";
}

<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

<style>
    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .button1 {
        border-radius: 2px;
    }

    .button2 {
        border-radius: 4px;
    }

    .button3 {
        border-radius: 8px;
    }

    .button4 {
        border-radius: 12px;
    }

    .button5 {
        border-radius: 50%;
    }
</style>

<h1>Editar</h1>

<h4>Grupo de servicios</h4>
<hr />
<div>
    <div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" id="txt_register_id" />

            <div class="form-group col-md-4">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-grou col-md-4p" style="display:none">
                <label asp-for="RegisterStatus" class="control-label"></label>
                <input asp-for="RegisterStatus" class="form-control" value="1" />
                <span asp-validation-for="RegisterStatus" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4" style="display:none">
                <label asp-for="CreationDatetime" class="control-label"></label>
                <input asp-for="CreationDatetime" class="form-control" />
                <span asp-validation-for="CreationDatetime" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4" style="display:none">
                <label asp-for="ModificationDatetime" class="control-label"></label>
                <input asp-for="ModificationDatetime" class="form-control" value="@DateTime.Now" type="datetime" />
                <span asp-validation-for="ModificationDatetime" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AvailableForClients" type="checkbox" /> @Html.DisplayNameFor(model => model.AvailableForClients)
                </label>

                <span asp-validation-for="AvailableForClients" class="text-danger"></span>
            </div>


            <h5 style="color:yellowgreen">Servicios</h5>
            <hr />

            <div class="form-group">
                <button id="btnShowModal"
                        type="button"
                        style="background-color:yellowgreen; color:white"
                        onclick="AddService()"
                        class="btn btn-primary">
                    Agregar servicio
                </button>

                <div class="modal fade" tabindex="-1" id="loginModal" data-keyboard="false" data-backdrop="static">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h5 class="modal-title" style="float:left">Listado de servicios</h5>
                                <button type="button" class="close" data-dismiss="modal" style="color:red">
                                    X
                                </button>
                            </div>

                            <table class="table">
                                <thead style="background-color:yellowgreen; color:white">
                                    <tr>
                                        <th></th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Code)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Name)
                                        </th>

                                        <th>
                                            Tipo de servicio
                                        </th>

                                        <th>
                                            Matriz
                                        </th>

                                        <th>
                                            Valor unitario
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (@ViewBag.Services != null)
                                    {
                                        foreach (var service in @ViewBag.Services)
                                        {
                                            <!--Listado de servicios para asociar-->
                                            <tr>
                                                <td>
                                                    <input type="checkbox" class="uncheck_default" value=" @service.Id" />
                                                </td>
                                                <td>
                                                    @service.Code
                                                </td>
                                                <td>
                                                    @service.Name
                                                </td>
                                                <td>
                                                    @service.ServiceTypeName
                                                </td>
                                                <td>
                                                    @service.MatrixGroupName
                                                </td>
                                                <td>
                                                    $ @service.UnitValue
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>

                            <div class="form-group">
                                <input type="button" id="btnSelectModal" value="Seleccionar" class="btn btn-primary" style="background-color:yellowgreen; color:white; margin-left:20px" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--Listado de servicios asociados al grupo-->
            <table class="table table-striped table-sm" style="display:block; overflow:auto">
                <thead style="background-color:yellowgreen; color:white">
                    <tr>
                        <th></th>
                        <th>
                            @Html.DisplayNameFor(model => model.Code)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>

                        <th>
                            Tipo de servicio
                        </th>

                        <th>
                            Matriz
                        </th>

                        <th>
                            Método de referencia
                        </th>

                        <th>
                            Rango de trabajo
                        </th>

                        <th>
                            Valor unitario
                        </th>

                        <th style="white-space:nowrap">
                            Tiempo de entrega de informe (días)
                        </th>

                        <th>
                            Acreditado por el IDEAM
                        </th>

                        <th>
                            Autorizado INS - Min. salud
                        </th>

                        <th>
                            Vigente @DateTime.Now.Year
                        </th>

                        <th style="white-space:nowrap">
                            Observaciones particulares de la prestación del servicio
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @if (Model.Services != null)
                    {
                        @foreach (var item in Model.Services)
                        {
                            <tr>
                                <td>
                                    <a asp-action="UnassignService" asp-route-service="@item.ServiceId" asp-route-_id="@Model.Id"><i class="fas fa-minus-circle" style="font-size:larger; color:red"></i></a>
                                </td>

                                <td>
                                    @item.Service.Code
                                </td>
                                <td style="white-space:nowrap">
                                    @item.Service.Name
                                </td>
                                <td style="white-space:nowrap">
                                    @item.Service.ServiceTypeName
                                </td>
                                <td style="white-space:nowrap">
                                    @item.Service.MatrixGroupName
                                </td>

                                <td style="white-space:nowrap">
                                    @item.Service.ReferenceMethodName
                                </td>

                                <td style="white-space:nowrap">
                                    @item.Service.WorkingRangeWithoutPrecondition
                                </td>

                                <td style="white-space:nowrap">
                                    $ @item.Service.UnitValue
                                </td>

                                <td style="white-space:nowrap">
                                    @item.Service.ReportDeliveryTime
                                </td>

                                <td>
                                    @item.Service.GetYesNo(item.Service.AcredditedByIdeam)
                                </td>

                                <td>
                                    @item.Service.GetYesNo(item.Service.AuthorizedByINS)
                                </td>

                                <td>
                                    @item.Service.GetYesNo(item.Service.Valid)
                                </td>

                                <td>
                                    @item.Service.Description
                                </td>

                            </tr>
                        }
                    }

                </tbody>
            </table>

            <div class="form-group">
                <input type="submit" onclick="quiere_guardar()" value="Guardar" class="btn btn-primary" style="background-color:yellowgreen; color:white" />
            </div>

        </form>
    </div>
</div>



<div>
    <a asp-action="Index">Regresar</a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#btnShowModal").click(function () {
            var inputs = document.querySelectorAll('.uncheck_default');
            for (var i = 0; i < inputs.length; i++) {
                inputs[i].checked = false;
            }

            $("#loginModal").modal('show');
        });

        $("#btnHideModal").click(function () {
            $("#loginModal").modal('hide');
        });

        $("#btnSelectModal").click(function () {
            var inputs = document.querySelectorAll('.uncheck_default');
            var ids = "";
            for (var i = 0; i < inputs.length; i++) {
                if (inputs[i].checked) {
                    ids = ids + ";" + inputs[i].value;
                }
            }

            assignServices(ids, $("#txt_register_id").val());

            $("#loginModal").modal('hide');
        });
    });

</script>

@section Scripts {

    <script>

        function assignServices() {
            var ids = arguments[0];
            var section_id = arguments[1];
            var url = "@Url.Action("AssignServices")";

            $.get(url, { servicesId: ids, _id: section_id }, function (data) {
                location.reload();
            });

            $("#loginModal").modal('hide');
        }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
