@model IVSoftware.Data.Models.QuotationModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>QuotationModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientContactName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientContactName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientContactPosition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientContactPosition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Greetings)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Greetings)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exceptions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exceptions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReservationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationMessage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReservationMessage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeasurementSubtotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeasurementSubtotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeasurementTotalValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeasurementTotalValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicesSubtotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicesSubtotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicesTotalValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicesTotalValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisterStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisterStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDatetime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDatetime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModificationDatetime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModificationDatetime)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
