@model Person

@if (Model != null)
{
    <h5 style="color:yellowgreen; margin-top:5px">Información del suplente</h5>
    <hr />
<div class="row">
    <input id="txt_backup_person_id" asp-for="Id" hidden/>

    <div class="row" style="margin-left:20px">
        <table>
            <tr>
                <td style="padding: 0 15px 0 0">
                    <div><b>Tipo de ID</b></div>
                </td>

                <td style="padding: 0 15px 0 0">
                    <div><b>@Html.DisplayNameFor(model => model.IdentificationNumber)</b></div>
                </td>

                <td style="padding: 0 15px 0 0">
                    <div><b>@Html.DisplayNameFor(model => model.FullName)</b></div>
                </td>
            </tr>

            <tr>
                <td style="padding: 0 15px 0 0">
                    <div>@Html.DisplayFor(model => model.IdentificationType.Name)</div>
                </td>

                <td style="padding: 0 15px 0 0">
                    <div>@Html.DisplayFor(model => model.IdentificationNumber)</div>
                </td>

                <td style="padding: 0 15px 0 0">
                    <div>@Html.DisplayFor(model => model.FullName)</div>
                </td>
            </tr>
        </table>
    </div>
</div>
}
else
{
    <label>No hay información del suplente</label>
}