@model IVSoftware.Data.Models.ServiceModel

@{
    ViewData["Title"] = "Nuevo servicio";
}

<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

<style>
    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .button1 {
        border-radius: 2px;
    }

    .button2 {
        border-radius: 4px;
    }

    .button3 {
        border-radius: 8px;
    }

    .button4 {
        border-radius: 12px;
    }

    .button5 {
        border-radius: 50%;
    }
</style>

<head>
    <script>
        function serviceSelection(e) {
            document.getElementById("input_service_type_id").value = e.target.value
        }

        function matrixSelection(e) {
            document.getElementById("input_matrix_id").value = e.target.value
        }

        function referenceMethodSelection(e) {
            document.getElementById("input_reference_method_id").value = e.target.value
        }

        function measurementUnitShange(e) {
            document.getElementById("txt_unit_id").value = e.target.value;
        }

    </script>
</head>

<h1>Crear</h1>

<h4 style="color:yellowgreen">Servicio</h4>
<hr />
<div>
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TypeOfServiceId" id="input_service_type_id" />
            <input type="hidden" asp-for="SelectedMatrixGroupId" id="input_matrix_id" />
            <input type="hidden" asp-for="SelectedReferenceMethodId" id="input_reference_method_id" />


            <div class="row">

                <div class="form-group col-md-4">
                    <label asp-for="Code" class="control-label"></label>
                    <input asp-for="Code" class="form-control" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>

                <div class="form-group col-md-8">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label asp-for="ReferenceMethod" class="control-label"></label>
                    <select id="cbx_reference_method" asp-for="ReferenceMethod" class="form-control" onchange="referenceMethodSelection(event)">
                        <option value="0"></option>
                        @if (@ViewBag.ReferenceMethods != null)
                        {
                            @foreach (var item in @ViewBag.ReferenceMethods)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }

                    </select>
                </div>

                <div class="form-group col-md-4">
                    <label asp-for="MatrixGroup" class="control-label"></label>
                    <select id="cbx_matrix_type" asp-for="MatrixGroup" class="form-control" onchange="matrixSelection(event)">
                        <option value="0"></option>
                        @if (@ViewBag.Matrixes != null)
                        {
                            @foreach (var item in @ViewBag.Matrixes)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }

                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="ServiceType" class="control-label"></label>
                    <select id="cbx_service_type" asp-for="ServiceType" class="form-control" onchange="serviceSelection(event)">
                        <option value="0"></option>
                        @if (@ViewBag.ServiceTypes != null)
                        {
                            @foreach (var item in @ViewBag.ServiceTypes)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }

                    </select>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label asp-for="ReportDeliveryTime" class="control-label"></label>
                    <input asp-for="ReportDeliveryTime" class="form-control" type="number" value="1" min="1" />
                    <span asp-validation-for="ReportDeliveryTime" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label asp-for="AnalizeBefore" class="control-label"></label>
                    <input asp-for="AnalizeBefore" class="form-control" type="number" value="1" min="1" />
                    <span asp-validation-for="AnalizeBefore" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label asp-for="UnitValue" class="control-label"></label>
                    <div class="form-inline">
                        <label style="display:block; float:left">$</label>
                        <input asp-for="UnitValue" class="form-control" type="number" style="flex:1" />
                    </div>
                    <span asp-validation-for="UnitValue" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="WeeklyAssignmentQuantity" class="control-label"></label>
                    <input asp-for="WeeklyAssignmentQuantity" class="form-control" type="number" value="1" min="1" />
                    <span asp-validation-for="WeeklyAssignmentQuantity" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="MaximumWeeklyAssignment" class="control-label"></label>
                    <input asp-for="MaximumWeeklyAssignment" class="form-control" type="number" value="1" min="1" />
                    <span asp-validation-for="MaximumWeeklyAssignment" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @rows = 4 })
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <h5 style="color:yellowgreen">Rango de trabajo</h5>
            <hr />

            <div class="form-group">
                <label asp-for="Precondition" class="control-label"></label>
                @Html.TextAreaFor(model => model.Precondition, new { @class = "form-control", @rows = 4 })
                <span asp-validation-for="Precondition" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="MinimumValue" class="control-label"></label>
                    <input asp-for="MinimumValue" class="form-control" />
                    <span asp-validation-for="MinimumValue" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="MaximumValue" class="control-label"></label>
                    <input asp-for="MaximumValue" class="form-control" />
                    <span asp-validation-for="MaximumValue" class="text-danger"></span>
                </div>
            </div>

            <!--Información del análisis-->
            <h5 style="color:yellowgreen">Información del análisis</h5>
            <hr />

            <div class="row">
                <input asp-for="SelectedAnalisysTechniqueId" id="txt_analisys_technique_id" hidden />

                <div class="col-md-8">
                    <label asp-for="AnalisysTechnique" class="control-label"></label>
                    <input id="txt_analisys_technique" asp-for="AnalisysTechnique" class="form-control" readonly />
                    <span asp-validation-for="AnalisysTechnique" class="text-danger"></span>
                </div>

                <input type="button" class="btn btn-primary" style="background-color:yellowgreen; color:white; height:40px; margin-top:30px" value="Seleccionar" onclick="showAnalisysTechnique()">
            </div>

            <div class="row">
                <input asp-for="SelectedAnalisysTypeId" id="txt_analisys_type_id" hidden />

                <div class="col-md-8">
                    <label asp-for="AnalisysType" class="control-label"></label>
                    <input id="txt_analisys_type" asp-for="AnalisysType" class="form-control" readonly />
                    <span asp-validation-for="AnalisysType" class="text-danger"></span>
                </div>

                <input type="button" class="btn btn-primary" style="background-color:yellowgreen; color:white; height:40px; margin-top:30px" value="Seleccionar" onclick="showAnalisisType()">
            </div>

            <div class="row">
                <input asp-for="SelectedTypeOfSamplingId" id="txt_sampling_type_id" hidden />

                <div class="col-md-8">
                    <label asp-for="TypeOfSampling" class="control-label"></label>
                    <input id="txt_sampling_type" asp-for="TypeOfSampling" class="form-control" readonly />
                    <span asp-validation-for="TypeOfSampling" class="text-danger"></span>
                </div>

                <input type="button" class="btn btn-primary" style="background-color:yellowgreen; color:white; height:40px; margin-top:30px" value="Seleccionar" onclick="showSamplingType()">
            </div>

            <div class="row">
                <input asp-for="SelectedStorageContainerId" id="txt_storage_container_id" hidden />

                <div class="col-md-8">
                    <label asp-for="StorageContainer" class="control-label"></label>
                    <input id="txt_storage_container" asp-for="StorageContainer" class="form-control" readonly />
                    <span asp-validation-for="StorageContainer" class="text-danger"></span>
                </div>

                <input type="button" class="btn btn-primary" style="background-color:yellowgreen; color:white; height:40px; margin-top:30px" value="Seleccionar" onclick="showStorageContainer()">
            </div>

            <div>
                <label asp-for="WashingCleaningConditionsForContainer" class="control-label"></label>
                <input asp-for="WashingCleaningConditionsForContainer" class="form-control" />
                <span asp-validation-for="WashingCleaningConditionsForContainer" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="SamplingCaptureDescription" class="control-label"></label>
                <input asp-for="SamplingCaptureDescription" class="form-control" />
                <span asp-validation-for="SamplingCaptureDescription" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="PreservativesTheirConcentrationQuantity" class="control-label"></label>
                <input asp-for="PreservativesTheirConcentrationQuantity" class="form-control" />
                <span asp-validation-for="PreservativesTheirConcentrationQuantity" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="RegulatoryStorageTime" class="control-label"></label>
                    <input asp-for="RegulatoryStorageTime" class="form-control" type="number" />
                    <span asp-validation-for="RegulatoryStorageTime" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="StorageTemperature" class="control-label"></label>
                    <input asp-for="StorageTemperature" class="form-control" />
                    <span asp-validation-for="StorageTemperature" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="TestItemRetentionTimeInDays" class="control-label"></label>
                    <input asp-for="TestItemRetentionTimeInDays" class="form-control" type="number" />
                    <span asp-validation-for="TestItemRetentionTimeInDays" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="VolumeEstablishedByLaboratory" class="control-label"></label>
                    <input asp-for="VolumeEstablishedByLaboratory" class="form-control" type="number" />
                    <span asp-validation-for="VolumeEstablishedByLaboratory" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <input asp-for="SelectedUnitId" hidden id="txt_unit_id" />

                <div class="form-group col-md-6">
                    <label asp-for="MeasurementUnit" class="control-label"></label>
                    <select class="form-control" data-placeholder="Seleccione la unidad" onchange="measurementUnitShange(event)">
                        <option disabled selected></option>
                        @if (ViewBag != null && ViewBag.Units != null && ViewBag.Units.Count > 0)
                        {
                            foreach (var item in ViewBag.Units)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="MeasurementUnit" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="RelatedProtocol" class="control-label"></label>
                    <input asp-for="RelatedProtocol" class="form-control" />
                    <span asp-validation-for="RelatedProtocol" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div>
                    <label asp-for="ReceptionDays" class="control-label"></label>
                </div>

                <div style="margin-left:50px"><input class="form-check-input" asp-for="ReceptionOnMonday" type="checkbox" checked /> @Html.Raw("Lunes")</div>
                <div style="margin-left:50px"><input class="form-check-input" asp-for="ReceptionOnTuesday" type="checkbox" checked /> @Html.Raw("Martes")</div>
                <div style="margin-left:50px"><input class="form-check-input" asp-for="ReceptionOnWednesday" type="checkbox" checked /> @Html.Raw("Miércoles")</div>
                <div style="margin-left:50px"><input class="form-check-input" asp-for="ReceptionOnThursday" type="checkbox" checked /> @Html.Raw("Jueves")</div>
                <div style="margin-left:50px"><input class="form-check-input" asp-for="ReceptionOnFriday" type="checkbox" checked /> @Html.Raw("Viernes")</div>
                <div style="margin-left:50px"><input class="form-check-input" asp-for="ReceptionOnSaturday" type="checkbox" checked /> @Html.Raw("Sábado")</div>
                <div style="margin-left:50px"><input class="form-check-input" asp-for="ReceptionOnSunday" type="checkbox" checked /> @Html.Raw("Domingo")</div>
            </div>

            <div class="form-group">
                <label asp-for="AnalisysObservations" class="control-label"></label>
                @Html.TextAreaFor(model => model.AnalisysObservations, new { @class = "form-control", @rows = 4 })
                <span asp-validation-for="AnalisysObservations" class="text-danger"></span>
            </div>

            <h5></h5>

            <h5 style="color:yellowgreen">Información de facturación</h5>
            <hr />
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="BillingCode" class="control-label"></label>
                    <input asp-for="BillingCode" class="form-control" type="number" />
                    <span asp-validation-for="BillingCode" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="BillingName" class="control-label"></label>
                    <input asp-for="BillingName" class="form-control" />
                    <span asp-validation-for="BillingName" class="text-danger"></span>
                </div>
            </div>

            <h5></h5>

            <h5 style="color:yellowgreen">Autorizaciones y vigencia</h5>
            <hr />

            <div class="row">
                <div class="form-group form-check col-md-3">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="AcredditedByIdeam" type="checkbox" /> @Html.DisplayNameFor(model => model.AcredditedByIdeam)
                    </label>
                    <span asp-validation-for="AcredditedByIdeam" class="text-danger"></span>
                </div>

                <div class="form-group form-check col-md-3">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="AuthorizedByINS" type="checkbox" /> @Html.DisplayNameFor(model => model.AuthorizedByINS)
                    </label>

                    <span asp-validation-for="AuthorizedByINS" class="text-danger"></span>
                </div>

                <div class="form-group form-check col-md-3">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="AvailableForClients" type="checkbox" checked /> @Html.DisplayNameFor(model => model.AvailableForClients)
                    </label>

                    <span asp-validation-for="AvailableForClients" class="text-danger"></span>
                </div>

                <div class="form-group form-check col-md-3">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Valid" type="checkbox" checked /> @Html.DisplayNameFor(model => model.Valid)
                    </label>

                    <span asp-validation-for="Valid" class="text-danger"></span>
                </div>

            </div>

            <div class="form-group">
                <input type="button" value="Asignar responsable" onclick="showPersonModal()" class="btn btn-primary" style="background-color:yellowgreen;color:white" />
                <div id="div_responsable"></div>
            </div>

            <!--Datos del responsable del servicio-->
            <div id="div_person_data" />

            <div class="form-group">
                <input type="button" value="Asignar suplente" onclick="showBackupPersonModal()" class="btn btn-primary" style="background-color:yellowgreen;color:white" />
                <div id="div_backup_responsable"></div>
            </div>

            <!--Datos del suplente del servicio-->
            <div id="div_backup_person_data" />

            <div class="form-group" style="display:none">
                <label asp-for="BillingCode" class="control-label"></label>
                <input asp-for="BillingCode" class="form-control" value="1" />
                <span asp-validation-for="BillingCode" class="text-danger"></span>
            </div>

            <div class="form-group" style="display:none">
                <label asp-for="BillingName" class="control-label"></label>
                <input asp-for="BillingName" class="form-control" value="1" />
                <span asp-validation-for="BillingName" class="text-danger"></span>
            </div>

            <div class="form-group" style="display:none">
                <label asp-for="RegisterStatus" class="control-label"></label>
                <input asp-for="RegisterStatus" class="form-control" value="1" />
                <span asp-validation-for="RegisterStatus" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="CreationDatetime" class="control-label"></label>
                <input asp-for="CreationDatetime" class="form-control" value="@DateTime.Now" type="datetime" />
                <span asp-validation-for="CreationDatetime" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="ModificationDatetime" class="control-label"></label>
                <input asp-for="ModificationDatetime" class="form-control" value="@DateTime.Now" type="datetime" />
                <span asp-validation-for="ModificationDatetime" class="text-danger"></span>
            </div>

            <input asp-for="PersonId" id="txt_responsable_id" hidden />
            <input asp-for="BackupAnalystId" id="txt_backup_responsable_id" hidden />

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" style="background-color:yellowgreen;color:white" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

<!--Modal para seleccionar el responsable-->
<div class="form-group">
    <div class="modal fade" tabindex="-1" role="dialog" id="modalPersons" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

            </div>
        </div>
    </div>
</div>

<!--Modal para seleccionar el suplente-->
<div class="form-group">
    <div class="modal fade" tabindex="-1" role="dialog" id="modalBackupPersons" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

            </div>
        </div>
    </div>
</div>

<!--Modal para seleccionar la técnica de análisis-->
<div class="form-group">
    <div class="modal fade" tabindex="-1" role="dialog" id="analisysTechniqueModal" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

            </div>
        </div>
    </div>
</div>

<!--Modal para seleccionar el tipo de análisis-->
<div class="form-group">
    <div class="modal fade" tabindex="-1" role="dialog" id="analisisTypeModal" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

            </div>
        </div>
    </div>
</div>

<!--Modal para seleccionar el tipo de muestra-->
<div class="form-group">
    <div class="modal fade" tabindex="-1" role="dialog" id="samplingTypeModal" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

            </div>
        </div>
    </div>
</div>

<!--Modal para seleccionar el recipiente de almacenamiento-->
<div class="form-group">
    <div class="modal fade" tabindex="-1" role="dialog" id="storageContainerModal" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

            </div>
        </div>
    </div>
</div>

<script>

    function showAnalisysTechnique() {
        var url = "@Url.Action("GetAnalisysTechniques")";

        // Show modal for persons
        $.get(url, "", function (data) {
            $('.modal-content').html(data);
            $("#analisysTechniqueModal").modal('show');
        });
    }

    function showStorageContainer() {
        var url = "@Url.Action("GetStorageContainers")";

        // Show modal for persons
        $.get(url, "", function (data) {
            $('.modal-content').html(data);
            $("#storageContainerModal").modal('show');
        });
    }

    function showSamplingType() {
        var url = "@Url.Action("GetSamplingTypes")";

        // Show modal for persons
        $.get(url, "", function (data) {
            $('.modal-content').html(data);
            $("#samplingTypeModal").modal('show');
        });
    }

    function showAnalisisType() {
        var url = "@Url.Action("GetAnalisysTypes")";

        // Show modal for persons
        $.get(url, "", function (data) {
            $('.modal-content').html(data);
            $("#analisisTypeModal").modal('show');
        });
    }

    function showBackupPersonModal() {
        var url = "@Url.Action("GetBackupPersons")";

        // Show modal for persons
        $.get(url, "", function (data) {
            $('.modal-content').html(data);
            $("#modalBackupPersons").modal('show');
        });
    }

    function showPersonModal() {
        var url = "@Url.Action("GetPersons")";

        // Show modal for persons
        $.get(url, "", function (data) {
            $('.modal-content').html(data);
            $("#modalPersons").modal('show');
        });
    }

    function selectBackupPerson(id) {
        hidePersonmodal();

        var url = "@Url.Action("GetBackupPerson")";

        // Obtains the person data with ID
        $.get(url, { identification: id }, function (data) {
            if (data != null)
            {
                $("#lbl_backup_responsable").html("");
                $("#div_backup_responsable").html(data);

                $("#txt_backup_responsable_id").val($("#txt_backup_person_id").val());
            }
        });
    }

    function selectPerson(id) {
        hidePersonmodal();

        var url = "@Url.Action("GetPerson")";

        // Obtains the person data with ID
        $.get(url, { identification: id }, function (data) {
            if (data != null)
            {
                $("#lbl_responsable").html("");
                $("#div_responsable").html(data);

                $("#txt_responsable_id").val($("#txt_person_id").val());
            }
        });
    }

    function hidePersonmodal() {
        $("#modalPersons").modal('hide');
        $('.modal-content').html("");

        $("#modalBackupPersons").modal('hide');
        $('.modal-content').html("");
    }

    function hideModal() {
        $("#storageContainerModal").modal('hide');
        $('.modal-content').html("");

        $("#samplingTypeModal").modal('hide');
        $('.modal-content').html("");

        $("#analisisTypeModal").modal('hide');
        $('.modal-content').html("");

        $("#analisysTechniqueModal").modal('hide');
        $('.modal-content').html("");
    }

    function selectSamplingType(id) {
        hideModal();

        var url = "@Url.Action("GetSamplingType")";

        // Obtains the data with ID
        $.get(url, { identification: id }, function (data) {
            if (data != null)
            {
                var splitted = data.split(";");
                $("#txt_sampling_type_id").val(splitted[0]);
                $("#txt_sampling_type").val(splitted[1]);
            }
        });
    }

    function selectAnalisysType(id) {
        hideModal();

        var url = "@Url.Action("GetAnalisysType")";

        // Obtains the data with ID
        $.get(url, { identification: id }, function (data) {
            if (data != null)
            {
                var splitted = data.split(";");
                $("#txt_analisys_type_id").val(splitted[0]);
                $("#txt_analisys_type").val(splitted[1]);
            }
        });
    }

    function selectStorageContainer(id) {
        hideModal();

        var url = "@Url.Action("GetStorageContainer")";

        // Obtains the data with ID
        $.get(url, { identification: id }, function (data) {
            if (data != null)
            {
                var splitted = data.split(";");
                $("#txt_storage_container_id").val(splitted[0]);
                $("#txt_storage_container").val(splitted[1]);
            }
        });
    }

    function selectAnalisysTechnique(id) {
        hideModal();

        var url = "@Url.Action("GetAnalisysTechnique")";

        // Obtains the data with ID
        $.get(url, { identification: id }, function (data) {
            if (data != null)
            {
                var splitted = data.split(";");
                $("#txt_analisys_technique_id").val(splitted[0]);
                $("#txt_analisys_technique").val(splitted[1]);
            }
        });
    }

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
