@model IVSoftware.Data.Models.ServiceModel

@{
    ViewData["Title"] = "Detalle de servicio";
}

<h1>Detalle</h1>

<div>
    <h4 style="color:yellowgreen">Servicio</h4>

    <hr />
    <dl class="row">
        <dt class="col-sm-2" style="white-space:nowrap">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class="col-sm-10" style="margin-left:5px">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class="col-sm-2" style="white-space:nowrap">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10" style="margin-left:5px">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2" style="white-space:nowrap">
            @Html.DisplayNameFor(model => model.MatrixGroup)
        </dt>
        <dd class="col-sm-10" style="margin-left:5px">
            @Html.DisplayFor(model => model.MatrixGroupName)
        </dd>

        <dt class="col-sm-2" style="white-space:nowrap">
            @Html.DisplayNameFor(model => model.ServiceType)
        </dt>
        <dd class="col-sm-10" style="margin-left:5px">
            @Html.DisplayFor(model => model.ServiceTypeName)
        </dd>
        <dt class="col-sm-2" style="white-space:nowrap">
            @Html.DisplayNameFor(model => model.WeeklyAssignmentQuantity)
        </dt>
        <dd class="col-sm-10" style="margin-left:5px">
            @Html.DisplayFor(model => model.WeeklyAssignmentQuantity)
        </dd>
        <dt class="col-sm-2" style="white-space:nowrap">
            @Html.DisplayNameFor(model => model.ReportDeliveryTime)
        </dt>
        <dd class="col-sm-10" style="margin-left:5px">
            @Html.DisplayFor(model => model.ReportDeliveryTime)
        </dd>
        <dt class="col-sm-2" style="white-space:nowrap">
            @Html.DisplayNameFor(model => model.ReferenceMethod)
        </dt>
        <dd class="col-sm-10" style="margin-left:5px">
            @Html.DisplayFor(model => model.ReferenceMethodName)
        </dd>
        <dt class="col-sm-2" style="white-space:nowrap">
            @Html.Raw("Rango de trabajo")
        </dt>
        <dd class="col-sm-10" style="margin-left:5px">
            @Html.DisplayFor(model => model.WorkingRange)
        </dd>
        <dt class="col-sm-2" style="white-space:nowrap">
            @Html.DisplayNameFor(model => model.UnitValue)
        </dt>
        <dd class="col-sm-10" style="margin-left:5px">
            $ @Html.DisplayFor(model => model.UnitValue)
        </dd>
        <dt class="col-sm-2" style="white-space:nowrap">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10" style="margin-left:5px">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="col-sm-2" style="white-space:nowrap">
            @Html.DisplayNameFor(model => model.AcredditedByIdeam)
        </dt>
        <dd class="col-sm-10" style="margin-left:5px">
            @Model.GetYesNo(Model.AcredditedByIdeam)
        </dd>

        <dt class="col-sm-2" style="white-space:nowrap">
            @Html.DisplayNameFor(model => model.AuthorizedByINS)
        </dt>
        <dd class="col-sm-10" style="margin-left:5px">
            @Model.GetYesNo(Model.AuthorizedByINS)
        </dd>

        <dt class="col-sm-2" style="white-space:nowrap">
            @Html.DisplayNameFor(model => model.Valid) @DateTime.Now.Year
        </dt>
        <dd class="col-sm-10" style="margin-left:5px">
            @Model.GetYesNo(Model.Valid)
        </dd>

        <dt class="col-sm-2" style="white-space:nowrap">
            ¿@Html.DisplayNameFor(model => model.AvailableForClients)?
        </dt>
        <dd class="col-sm-10" style="margin-left:5px">
            @Model.GetYesNo(Model.AvailableForClients)
        </dd>

        <dt class="col-sm-2" style="white-space:nowrap">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10" style="margin-left:5px">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <h5 style="color:yellowgreen">Información del responsable</h5>
    <hr />
    <div class="row" style="margin-left:10px">
        @if (Model.Responsable != null)
        {
        <table>
            <tr>
                <td style="padding: 0 15px 0 0">
                    <div><b>Tipo de ID</b></div>
                </td>

                <td style="padding: 0 15px 0 0">
                    <div><b>@Html.DisplayNameFor(model => model.Responsable.IdentificationNumber)</b></div>
                </td>

                <td style="padding: 0 15px 0 0">
                    <div><b>@Html.DisplayNameFor(model => model.Responsable.FullName)</b></div>
                </td>
            </tr>

            <tr>
                <td style="padding: 0 15px 0 0">
                    <div>@Html.DisplayFor(model => model.Responsable.IdentificationType.Name)</div>
                </td>

                <td style="padding: 0 15px 0 0">
                    <div>@Html.DisplayFor(model => model.Responsable.IdentificationNumber)</div>
                </td>

                <td style="padding: 0 15px 0 0">
                    <div>@Html.DisplayFor(model => model.Responsable.FullName)</div>
                </td>
            </tr>
        </table>
        }
        else
        {
            <div class="col-sm-10" style="margin-left:10px">
                <label>No se ha asignado un responsable</label>
            </div>
        }
    </div>
    <h1> </h1>

    <h5 style="color:yellowgreen">Información adicional</h5>
    <hr />
    <dl class="row">
        <dt class="col-sm-2" style="white-space:nowrap">
            @Html.DisplayNameFor(model => model.RegisterStatus)
        </dt>
        <dd class="col-sm-10" style="margin-left:5px">
            @Html.DisplayFor(model => model.RegisterStatusName)
        </dd>
        <dt class="col-sm-2" style="white-space:nowrap">
            @Html.DisplayNameFor(model => model.CreationDatetime)
        </dt>
        <dd class="col-sm-10" style="margin-left:5px">
            @Html.DisplayFor(model => model.CreationDatetime)
        </dd>
        <dt class="col-sm-2" style="white-space:nowrap">
            @Html.DisplayNameFor(model => model.ModificationDatetime)
        </dt>
        <dd class="col-sm-10" style="margin-left:5px">
            @Html.DisplayFor(model => model.ModificationDatetime)
        </dd>
    </dl>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Regresar</a>
</div>

