@model IVSoftware.Data.Models.ServiceModel

@{
    ViewData["Title"] = "Editar servicio";
}

<head>
    <script>
        function serviceSelection(e) {
            document.getElementById("input_service_type_id").value = e.target.value
        }

        function matrixSelection(e) {
            document.getElementById("input_matrix_id").value = e.target.value
        }


        function referenceMethodSelection(e) {
            document.getElementById("input_reference_method_id").value = e.target.value
        }

    </script>
</head>

<h1>Editar</h1>

<h4>Servicio</h4>
<hr />
<div>
    <div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="TypeOfServiceId" id="input_service_type_id" />
            <input type="hidden" asp-for="SelectedMatrixGroupId" id="input_matrix_id" />
            <input type="hidden" asp-for="SelectedVariableId" id="input_variable_id" />
            <input type="hidden" asp-for="SelectedReferenceMethodId" id="input_reference_method_id" />

            <div class="row">

                <div class="form-group col-md-3">
                    <label asp-for="Code" class="control-label"></label>
                    <input asp-for="Code" class="form-control" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>

                <div class="form-group col-md-9">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label asp-for="ReferenceMethod" class="control-label"></label>
                    <select id="cbx_reference_method" asp-for="ReferenceMethod" class="form-control" onchange="referenceMethodSelection(event)">
                        <option value="0"></option>
                        @if (@ViewBag.ReferenceMethods != null)
                        {
                            @foreach (var item in @ViewBag.ReferenceMethods)
                            {
                                if (Model.SelectedReferenceMethodId == item.Id)
                                {
                                    <option value="@item.Id" selected>@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        }

                    </select>
                </div>

                <div class="form-group col-md-4">
                    <label asp-for="MatrixGroup" class="control-label"></label>
                    <select id="cbx_matrix_type" asp-for="MatrixGroup" class="form-control" onchange="matrixSelection(event)">
                        <option value="0"></option>
                        @if (@ViewBag.Matrixes != null)
                        {
                            @foreach (var item in @ViewBag.Matrixes)
                            {
                                if (Model.SelectedMatrixGroupId == item.Id)
                                {
                                    <option value="@item.Id" selected>@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }

                            }
                        }

                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="ServiceType" class="control-label"></label>
                    <select id="cbx_service_type" asp-for="ServiceType" class="form-control" onchange="serviceSelection(event)">
                        <option value="0"></option>
                        @if (@ViewBag.ServiceTypes != null)
                        {
                            @foreach (var item in @ViewBag.ServiceTypes)
                            {
                                if (Model.ServiceTypeId == item.Id)
                                {
                                    <option value="@item.Id" selected>@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }

                            }
                        }

                    </select>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label asp-for="ReportDeliveryTime" class="control-label"></label>
                    <input asp-for="ReportDeliveryTime" class="form-control" type="number" value="1" min="1" />
                    <span asp-validation-for="ReportDeliveryTime" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label asp-for="WeeklyAssignmentQuantity" class="control-label"></label>
                    <input asp-for="WeeklyAssignmentQuantity" class="form-control" type="number" value="1" min="1" />
                    <span asp-validation-for="WeeklyAssignmentQuantity" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label asp-for="UnitValue" class="control-label"></label>
                    <div class="form-inline">
                        <label style="display:block; float:left">$</label>
                        <input asp-for="UnitValue" class="form-control" type="number" style="flex:1" />
                    </div>
                    <span asp-validation-for="UnitValue" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @rows = 4 })
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <h5 style="color:yellowgreen">Rango de trabajo</h5>
            <hr />

            <div class="form-group">
                <label asp-for="Precondition" class="control-label"></label>
                @Html.TextAreaFor(model => model.Precondition, new { @class = "form-control", @rows = 4 })
                <span asp-validation-for="Precondition" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="MinimumValue" class="control-label"></label>
                    <input asp-for="MinimumValue" class="form-control" type="number" min="1" />
                    <span asp-validation-for="MinimumValue" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="MaximumValue" class="control-label"></label>
                    <input asp-for="MaximumValue" class="form-control" type="number" min="1" />
                    <span asp-validation-for="MaximumValue" class="text-danger"></span>
                </div>
            </div>

            <h5 style="color:yellowgreen">Autorizaciones y vigencia</h5>
            <hr />

            <div class="row">
                <div class="form-group form-check col-md-3">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="AcredditedByIdeam" type="checkbox" /> @Html.DisplayNameFor(model => model.AcredditedByIdeam)
                    </label>
                    <span asp-validation-for="AcredditedByIdeam" class="text-danger"></span>
                </div>

                <div class="form-group form-check col-md-3">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="AuthorizedByINS" type="checkbox" /> @Html.DisplayNameFor(model => model.AuthorizedByINS)
                    </label>

                    <span asp-validation-for="AuthorizedByINS" class="text-danger"></span>
                </div>

                <div class="form-group form-check col-md-3">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="AvailableForClients" type="checkbox" checked /> @Html.DisplayNameFor(model => model.AvailableForClients)
                    </label>

                    <span asp-validation-for="AvailableForClients" class="text-danger"></span>
                </div>

                <div class="form-group form-check col-md-3">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Valid" type="checkbox" checked /> @Html.DisplayNameFor(model => model.Valid)
                    </label>

                    <span asp-validation-for="Valid" class="text-danger"></span>
                </div>

            </div>

            <div class="form-group" style="display:none">
                <label asp-for="BillingCode" class="control-label"></label>
                <input asp-for="BillingCode" class="form-control" value="1" />
                <span asp-validation-for="BillingCode" class="text-danger"></span>
            </div>

            <div class="form-group" style="display:none">
                <label asp-for="BillingName" class="control-label"></label>
                <input asp-for="BillingName" class="form-control" value="1" />
                <span asp-validation-for="BillingName" class="text-danger"></span>
            </div>

            <div class="form-group" style="display:none">
                <label asp-for="RegisterStatus" class="control-label"></label>
                <input asp-for="RegisterStatus" class="form-control" value="1" />
                <span asp-validation-for="RegisterStatus" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="CreationDatetime" class="control-label"></label>
                <input asp-for="CreationDatetime" class="form-control" value="@DateTime.Now" type="datetime" />
                <span asp-validation-for="CreationDatetime" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="ModificationDatetime" class="control-label"></label>
                <input asp-for="ModificationDatetime" class="form-control" value="@DateTime.Now" type="datetime" />
                <span asp-validation-for="ModificationDatetime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" style="background-color:yellowgreen; color:white" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
