@model IVSoftware.Models.QuotationRequest

@{
    ViewData["Title"] = "Nuevo solicitud de cotización";
}

<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

<style>
    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .button1 {
        border-radius: 2px;
    }

    .button2 {
        border-radius: 4px;
    }

    .button3 {
        border-radius: 8px;
    }

    .button4 {
        border-radius: 12px;
    }

    .button5 {
        border-radius: 50%;
    }
</style>

<h1>Crear</h1>

<h4>Solicitud de cotización</h4>
<hr />
<div class="row">
    <div >
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group form-check" style="display:none">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasBeenGenerated" /> @Html.DisplayNameFor(model => model.HasBeenGenerated)
                </label>
            </div>

            <div class="form-group" style="display:none">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" value="Cotización" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group col-md-3">
                <label asp-for="RequestDateTime" class="control-label"></label>
                <input asp-for="RequestDateTime" class="form-control" value="@DateTime.Now" type="date" />
                <span asp-validation-for="RequestDateTime" class="text-danger"></span>
            </div>

            <div class="form-group col">
                
                <table class="col-md-6">
                    <tr>
                        <td>
                            <label asp-for="ClientIdentification" class="control-label"></label>
                        </td>

                        <td></td>

                        <td>Nombre del cliente</td>
                    </tr>

                    <tr>
                        <td>
                            <input id="txtId" class="form-control" asp-for="RequestedClientId" />
                        </td>
                        <td>
                            <input id="btnGet" type="Button" value="Buscar" class="btn btn-primary" style="background-color:yellowgreen; color:white; margin-left:10px" />
                        </td>
                        <td>
                            <input id="txt_client_name" asp-for="RequestedClientName" class="form-control" readonly />
                        </td>
                    </tr>
                </table>
                <span asp-validation-for="ClientIdentification" class="text-danger"></span>
            </div>

            @*@<div class="form-group col-md-4">
                <label asp-for="RequestedClientName" class="control-label"></label>
                <input id="txt_client_name" asp-for="RequestedClientName" class="form-control" readonly />
                <span asp-validation-for="RequestedClientName" class="text-danger"></span>
            </div>*@

            <div class="form-group  col-md-10">
                <label asp-for="ClientRequestDescription" class="control-label"></label>
                @Html.TextAreaFor(model => model.ClientRequestDescription, new { @class = "form-control", @rows = 4 })
                <span asp-validation-for="ClientRequestDescription" class="text-danger"></span>
            </div>

            <!--Modal para agregar servicios uno por uno-->
            <div class="form-group  col-md-4" >
                <button id="btnShowModal"
                        type="button"
                        style="background-color:yellowgreen; color:white"
                        class="btn btn-primary">
                    Agregar servicio
                </button>

                <div class="modal fade" tabindex="-1" id="loginModal" data-keyboard="false" data-backdrop="static">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h5 class="modal-title" style="float:left">Banco de preguntas</h5>
                                <button type="button" class="close" data-dismiss="modal" style="color:red">
                                    X
                                </button>
                            </div>

                            <!--Listado de servicios para agregar-->
                            <table class="table table-striped table-sm" style="display:block; overflow:auto">
                                <thead style="background-color:yellowgreen; color:white">
                                    <tr>
                                        <th></th>
                                        <th>
                                            @Html.Raw("Código")
                                        </th>
                                        <th>
                                            @Html.Raw("Nombre")
                                        </th>

                                        <th>
                                            @Html.Raw("Tipo de servicio")
                                        </th>

                                        <th>
                                            @Html.Raw("Matriz")
                                        </th>

                                        <th>
                                            @Html.Raw("Método de referencia")
                                        </th>

                                        <th>
                                            @Html.Raw("Rango de trabajo")
                                        </th>

                                        <th>
                                            @Html.Raw("Valor unitario")
                                        </th>

                                        <th style="white-space:nowrap">
                                            @Html.Raw("Tiempo de entrega de informe (días)")
                                        </th>

                                        <th>
                                            @Html.Raw("Acreditado por el IDEAM")
                                        </th>

                                        <th>
                                            @Html.Raw("Autorizado INS - Min. Salud")
                                        </th>

                                        <th>
                                            @Html.Raw("Vigente")
                                        </th>

                                        <th style="white-space:nowrap">
                                            @Html.Raw("Observaciones particulares de la prestación del servicio")
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.Services != null && ViewBag.Services.Count > 0)
                                    {
                                        @foreach (var item in ViewBag.Services)
                                        {
                                            <tr>
                                                <td>
                                                    <input type="checkbox" class="uncheck_default" value=" @item.Id" />
                                                </td>

                                                @*<td>
                                                        @Html.DisplayFor(modelItem => @item.Code)
                                                    </td>
                                                    <td style="white-space:nowrap">
                                                        @Html.DisplayFor(modelItem => @item.Name)
                                                    </td>
                                                    <td style="white-space:nowrap">
                                                        @Html.DisplayFor(model => @item.ServiceTypeName)
                                                    </td>
                                                    <td style="white-space:nowrap">
                                                        @Html.DisplayFor(model => @item.MatrixGroupName)
                                                    </td>

                                                    <td style="white-space:nowrap">
                                                        @Html.DisplayFor(modelItem => @item.ReferenceMethodName)
                                                    </td>
                                                    <td style="white-space:nowrap">
                                                        @Html.DisplayFor(modelItem => @item.WorkingRangeName)
                                                    </td>

                                                    <td style="white-space:nowrap">
                                                        $ @Html.DisplayFor(modelItem => @item.UnitValue)
                                                    </td>

                                                    <td style="white-space:nowrap">
                                                        @Html.DisplayFor(modelItem => @item.ReportDeliveryTime)
                                                    </td>

                                                    <td>
                                                        @item.GetYesNo(@item.AcredditedByIdeam)
                                                    </td>
                                                    <td>
                                                        @item.GetYesNo(@item.AuthorizedByINS)
                                                    </td>
                                                    <td>
                                                        @item.GetYesNo(@item.Valid)
                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => @item.Description)
                                                    </td>*@

                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>

                            <div class="form-group">
                                <input type="button" id="btnSelectModal" value="Seleccionar" class="btn btn-primary" style="background-color:yellowgreen; color:white; margin-left:20px" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--Listado de servicios asignados-->
            <table class="table table-striped table-sm  col-md-10" style="display:block; overflow:auto">
                <thead style="background-color:yellowgreen; color:white">
                    <tr>
                        <th></th>
                        <th>
                            @Html.Raw("Código")
                        </th>
                        <th>
                            @Html.Raw("Nombre")
                        </th>

                        <th>
                            @Html.Raw("Tipo de servicio")
                        </th>

                        <th>
                            @Html.Raw("Matriz")
                        </th>

                        <th>
                            @Html.Raw("Método de referencia")
                        </th>

                        <th>
                            @Html.Raw("Rango de trabajo")
                        </th>

                        <th>
                            @Html.Raw("Valor unitario")
                        </th>

                        <th style="white-space:nowrap">
                            @Html.Raw("Tiempo de entrega de informe (días)")
                        </th>

                        <th>
                            @Html.Raw("Acreditado por el IDEAM")
                        </th>

                        <th>
                            @Html.Raw("Autorizado INS - Min. Salud")
                        </th>

                        <th>
                            @Html.Raw("Vigente")
                        </th>

                        <th style="white-space:nowrap">
                            @Html.Raw("Observaciones particulares de la prestación del servicio")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @* @if (Model.Services != null && Model.Services.Count > 0)
        {
            @foreach (var service in @Model.Services)
            {
                if (service.Service != null)
                {
                    var item = service.Service;
                    <tr>
                        <td>
                            <a asp-action="RemoveService" asp-route-serviceId="@item.Id" asp-route-quotationId="@Model.Id" asp-route-isForManagement="@Model.ManageQuotation"><i class="fas fa-minus-circle" style="font-size:larger; color:red"></i></a>
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td style="white-space:nowrap">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td style="white-space:nowrap">
                            @Html.DisplayFor(model => item.ServiceTypeName)
                        </td>
                        <td style="white-space:nowrap">
                            @Html.DisplayFor(model => item.MatrixGroupName)
                        </td>

                        <td style="white-space:nowrap">
                            @Html.DisplayFor(modelItem => item.ReferenceMethodName)
                        </td>
                        <td style="white-space:nowrap">
                            @Html.DisplayFor(modelItem => item.WorkingRangeName)
                        </td>

                        <td style="white-space:nowrap">
                            $ @Html.DisplayFor(modelItem => item.UnitValue)
                        </td>

                        <td style="white-space:nowrap">
                            @Html.DisplayFor(modelItem => item.ReportDeliveryTime)
                        </td>

                        <td>
                            @item.GetYesNo(item.AcredditedByIdeam)
                        </td>
                        <td>
                            @item.GetYesNo(item.AuthorizedByINS)
                        </td>
                        <td>
                            @item.GetYesNo(item.Valid)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>

                    </tr>
                }
            }
        }*@

                </tbody>
            </table>


            <div class="form-group" style="display:none">
                <label asp-for="RegisterStatus" class="control-label"></label>
                <input asp-for="RegisterStatus" class="form-control" value="1" />
                <span asp-validation-for="RegisterStatus" class="text-danger"></span>
            </div>

            <div class="form-group" style="display:none">
                <label asp-for="CreationDatetime" class="control-label"></label>
                <input asp-for="CreationDatetime" class="form-control" value="@DateTime.Now" type="datetime" />
                <span asp-validation-for="CreationDatetime" class="text-danger"></span>
            </div>

            <div class="form-group" style="display:none">
                <label asp-for="ModificationDatetime" class="control-label"></label>
                <input asp-for="ModificationDatetime" class="form-control" value="@DateTime.Now" type="datetime" />
                <span asp-validation-for="ModificationDatetime" class="text-danger"></span>
            </div>

            <div class="form-group  col-md-4">
                <input type="submit" value="Guardar" class="btn btn-primary" style="background-color:yellowgreen; color:white" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#btnShowModal").click(function () {
            $("#loginModal").modal('show');
        });

        $("#btnHideModal").click(function () {
            $("#loginModal").modal('hide');
        });

        $("#btnSelectModal").click(function () {

            $("#loginModal").modal('hide');
        });
    });

</script>


@section Scripts {
    <script>
    function getClient() {
        var url = "@Url.Action("GetClientInfo")";
        var id = $("#txtId").val();

        $.get(url, { id: id }, function (data)
        {
            document.getElementById("txt_client_name").value = data;
        });
    }

        $("#btnGet").on("click", getClient);
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
