@model IVSoftware.Data.Models.QuotationRequest

@{
    ViewData["Title"] = "Nuevo solicitud de cotización";
}

<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

<style>
    .serviceRegister {}

    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .button1 {
        border-radius: 2px;
    }

    .button2 {
        border-radius: 4px;
    }

    .button3 {
        border-radius: 8px;
    }

    .button4 {
        border-radius: 12px;
    }

    .button5 {
        border-radius: 50%;
    }
</style>

<h1>Crear</h1>

<h4 style="color:yellowgreen">Solicitud de cotización</h4>
<hr />
<div>
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group form-check" style="display:none">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasBeenGenerated" /> @Html.DisplayNameFor(model => model.HasBeenGenerated)
                </label>
            </div>

            <div class="form-group" style="display:none">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" value="Cotización" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group col-md-3">
                <label asp-for="RequestDateTime" class="control-label"></label>
                <input asp-for="RequestDateTime" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date" id="txt_quotation_date"/>
                <span asp-validation-for="RequestDateTime" class="text-danger"></span>
            </div>

            <div style="margin-left:10px">

                <table class="col-md-8">
                    <tr>
                        <td>
                            <label class="control-label">Ingrese la identificación del cliente</label>
                        </td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>
                            <input id="txtId" class="form-control" asp-for="RequestedClientId" />
                        </td>
                        <td>
                            <div style="display:inline">
                                <input id="btnGet" type="Button" value="Buscar" class="btn btn-primary" style="background-color:yellowgreen; color:white; margin-left:10px" />
                                <input id="btnRemove" type="Button" value="X" class="btn btn-danger" style="margin-left:10px" />
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <!--To show client information-->
            <div id="div_client_info" class="form-group" style="margin-left:10px"></div>

            <div class="form-group  col-md-12">
                <label asp-for="ClientRequestDescription" class="control-label"></label>
                @Html.TextAreaFor(model => model.ClientRequestDescription, new { @class = "form-control", @rows = 4, @id = "txt_client_request" })
                <span asp-validation-for="ClientRequestDescription" class="text-danger"></span>
            </div>

            <hr />
            <h5 style="color:yellowgreen">Servicios solicitados</h5>
            <hr />

            <!--Modal para agregar servicios uno por uno-->
            <div class="row" style="margin-left:20px">
                <table>
                    <tr>
                        <td>
                            <button id="btnShowModal"
                                    type="button"
                                    style="background-color:yellowgreen; color:white"
                                    class="btn btn-primary"
                                    onclick="showServicesModal()">
                                Agregar servicio
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <button id="btnShowModal"
                                    type="button"
                                    style="background-color:yellowgreen; color:white;"
                                    class="btn btn-primary"
                                    onclick="showServiceGroupModal()">
                                Agregar grupo de servicio
                            </button>
                        </td>
                    </tr>
                </table>
            </div>

            <h5></h5>

            <!--Listado de servicios asignados-->
            <table class="table table-striped table-sm col-md-12" style="display:block; overflow:auto">
                <thead style="background-color:yellowgreen; color:white">
                    <tr>
                        <th></th>

                        <th>
                            @Html.Raw("Cantidad")
                        </th>

                        <th style="white-space:nowrap">
                            @Html.Raw("Parámetro (técnica de análisis)")
                        </th>

                        <th style="white-space:nowrap">
                            @Html.Raw("Método de referencia (Acreditado)")
                        </th>

                        <th>
                            @Html.Raw("Límite de cuantificación")
                        </th>

                        <th>
                            @Html.Raw("Unidades")
                        </th>

                        <th>
                            @Html.Raw("Valor unitario")
                        </th>

                        <th style="white-space:nowrap">
                            @Html.Raw("Tiempo de entrega de informe (días)")
                        </th>

                    </tr>
                </thead>
                <tbody id="tbody_services">
                </tbody>
            </table>

            <hr />
            <h5 style="color:yellowgreen">Incentivos</h5>
            <hr />

            <div class="row" style="margin-left:20px">
                <button id="btnShowModal"
                        type="button"
                        style="background-color:yellowgreen; color:white;"
                        class="btn btn-primary"
                        onclick="showIncentiveModal()">
                    Agregar incentivo
                </button>
            </div>

            <h5></h5>

            <!--Listado de incentivos asignados-->
            <table class="table table-striped table-sm col-md-12" style="display:block; overflow:auto">
                <thead style="background-color:yellowgreen; color:white">
                    <tr>
                        <th></th>
                        <th>
                            @Html.Raw("Nombre")
                        </th>
                        <th>
                            @Html.Raw("Valor")
                        </th>

                        <th>
                            @Html.Raw("¿Es un porcentaje?")
                        </th>
                    </tr>
                </thead>
                <tbody id="tbody_incentives">
                </tbody>
            </table>


            <div class="form-group" style="display:none">
                <label asp-for="RegisterStatus" class="control-label"></label>
                <input asp-for="RegisterStatus" class="form-control" value="1" />
                <span asp-validation-for="RegisterStatus" class="text-danger"></span>
            </div>

            <div class="form-group" style="display:none">
                <label asp-for="CreationDatetime" class="control-label"></label>
                <input asp-for="CreationDatetime" class="form-control" value="@DateTime.Now" type="datetime" />
                <span asp-validation-for="CreationDatetime" class="text-danger"></span>
            </div>

            <div class="form-group" style="display:none">
                <label asp-for="ModificationDatetime" class="control-label"></label>
                <input asp-for="ModificationDatetime" class="form-control" value="@DateTime.Now" type="datetime" />
                <span asp-validation-for="ModificationDatetime" class="text-danger"></span>
            </div>

            <div class="form-group  col-md-4">
                <input type="button" value="Guardar" class="btn btn-primary" style="background-color:yellowgreen; color:white" onclick="confirmQuotation()" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#btnShowModal").click(function () {
            $("#loginModal").modal('show');
        });

        $("#btnHideModal").click(function () {
            $("#loginModal").modal('hide');
        });

        $("#btnSelectModal").click(function () {

            $("#loginModal").modal('hide');
        });
    });

</script>

<!--Modal para seleccionar el cliente-->
<div class="form-group">
    <div class="modal fade" tabindex="-1" role="dialog" id="modalClients" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

            </div>
        </div>
    </div>
</div>

<!--Modal para seleccionar el servicio-->
<div class="form-group">
    <div class="modal fade" tabindex="-1" role="dialog" id="modalServices" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

            </div>
        </div>
    </div>
</div>


@section FooterAssets {
    <script>

        function saveQuotation() {
            var requestDate = $("#txt_quotation_date").val();
            var clientRequest = $("#txt_client_request").val();
            var clientId = $("#txt_client_id").val();
            var contactId = $("#cbx_contact").val();
            var services = obtainServices();
            var incentives = obtainIncentives();

            var url = "@Url.Action("SaveQuotation")";

            $.get(url, { date: requestDate, client_request : clientRequest, client_id : clientId, contact_id : contactId, _services : services, _incentives : incentives}, function (data) {
                if (data != null && data.includes("Error:")) {
                    alert(data);
                }
                else
                {
                    location.href = '@Url.Action("Index", "QuotationRequests")';
                }
            });
        }

        function confirmQuotation() {
            var requestDate = $("#txt_quotation_date").val();
            var clientRequest = $("#txt_client_request").val();
            var clientId = $("#txt_client_id").val();
            var contactId = $("#cbx_contact").val();
            var services = obtainServices();
            var incentives = obtainIncentives();

            var url = "@Url.Action("ConfirmQuotation")";

            $.get(url, { date: requestDate, client_request : clientRequest, client_id : clientId, contact_id : contactId, _services : services, _incentives : incentives}, function (data) {
                if (data != null) {
                    $('.modal-content').html(data);
                    $("#modalServices").modal('show');
                }
            });
        }

        function obtainIncentives() {
            var assignedIncentives = "";

            var incentiveRegisters = document.getElementsByClassName("incentiveRegister");

            if (incentiveRegisters != null) {
                for (var i = 0; i < incentiveRegisters.length; i++) {
                    assignedIncentives += incentiveRegisters[i].innerHTML + ";";
                }
            }

            return assignedIncentives;
        }

        function obtainServices() {
            var assignedServices = "";

            var serviceRegisters = document.getElementsByClassName("serviceRegister");

            if (serviceRegisters != null) {
                for (var i = 0; i < serviceRegisters.length; i++)
                {
                    var quantity = document.getElementById("service_quantity_" + serviceRegisters[i].innerHTML);
                    assignedServices += serviceRegisters[i].innerHTML + ";quantity:" + quantity.value + "||";
                }
            }

            return assignedServices;
        }

        function selectIncentive(id) {
            var url = "@Url.Action("SelectIncentive")";

            $.get(url, { id: id }, function (data) {
                if ($("#tbody_incentives").html().includes("incentive_" + id)) {
                    alert("El incentivo seleccionado ya se encuentra en la lista.");
                }
                else // The incentive has not been selected
                {
                    hideServiceModal();
                    $("#tbody_incentives").html($("#tbody_incentives").html() + data);
                }
            });
        }

        function showIncentiveModal() {
            var url = "@Url.Action("GetIncentives")";

            // Show modal for services groups
            $.get(url, null, function (data) {
                $('.modal-content').html(data);
                $("#modalServices").modal('show');
            });
        }

        function selectServiceGroup(id) {
            var url = "@Url.Action("GetServicesFromGroup")";
            var assignedServices = obtainServices();

            $.get(url, { id: id, currentAssignedServices : assignedServices }, function (data) {
                hideServiceModal();
                $("#tbody_services").html($("#tbody_services").html() + data);
            });
        }

        function showServiceGroupModal() {
            var url = "@Url.Action("GetServiceGroups")";

            // Show modal for services groups
            $.get(url, null, function (data) {
                $('.modal-content').html(data);
                $("#modalServices").modal('show');
            });
        }

        function hideServiceModal() {
            $("#modalServices").modal('hide');
        }

        function selectService(id) {
            var url = "@Url.Action("GetServiceInformation")";

            $.get(url, { id: id }, function (data) {
                if ($("#tbody_services").html().includes("service_" + id)) {
                    alert("El servicio seleccionado ya se encuentra en la lista.");
                }
                else // The service has not been selected
                {
                    hideServiceModal();
                    $("#tbody_services").html($("#tbody_services").html() + data);
                }
            });
        }

        function showServicesModal() {
            var url = "@Url.Action("GetAllServices")";

            // Show modal for services
            $.get(url, null, function (data) {
                $('.modal-content').html(data);
                $("#modalServices").modal('show');
            });
        }

        function getClient() {
            var url = "@Url.Action("GetClientInformation")";
            var id = $("#txtId").val();

            if (id == null || id == "")
            {
                // Show modal for clients
                $.get(url, { id: id }, function (data) {
                    $('.modal-content').html(data);
                    $("#modalClients").modal('show');
                });
            }
            else
            {
                $.get(url, { id: id }, function (data) {
                    $("#div_client_info").html(data);
                });
            }
        }

        function removeClient() {
            $("#div_client_info").html("");
            $("#txtId").val("");
        }

        function hideClientmodal() {
            $("#modalClients").modal('hide');
            $("#div_client_list").html("");
        }

        // Events assignment
        $("#btnGet").on("click", getClient);
        $("#btnRemove").on("click", removeClient);

    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
