@model IVSoftware.Models.QuotationRequest

@{
    ViewData["Title"] = "Detalle de la solicitud de cotización";
}

<h1>Detalle</h1>

<div>
    <h4 style="color:yellowgreen">Solicitud de cotización # @Html.DisplayFor(model => model.Id)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2" style="white-space:nowrap">
            @Html.DisplayNameFor(model => model.RequestDateTime)
        </dt>
        <dd class="col-sm-10" style="margin-left:5px">
            @Html.DisplayFor(model => model.RequestDateTime)
        </dd>

        <dt class="col-sm-2" style="white-space:nowrap">
            @Html.DisplayNameFor(model => model.ClientRequestDescription)
        </dt>
        <dd class="col-sm-10" style="margin-left:5px">
            @Html.DisplayFor(model => model.ClientRequestDescription)
        </dd>

        <dt class="col-sm-2" style="white-space:nowrap">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10" style="margin-left:5px">
            @Html.DisplayFor(model => model.StatusName)
        </dd>

        @if (Model.HasBeenGenerated)
        {
            <dt class="col-sm-2" style="white-space:nowrap">
                @Html.DisplayNameFor(model => model.LastGenerationDate)
            </dt>
            <dd class="col-sm-10" style="margin-left:5px">
                @Html.DisplayFor(model => model.LastGenerationDate)
            </dd>
        }
    </dl>

    <h5 style="color:yellowgreen">Información del cliente</h5>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2" style="white-space:nowrap">
            @Html.DisplayNameFor(model => model.ClientIdentification)
        </dt>
        <dd class="col-sm-10" style="margin-left:5px">
            @Html.DisplayFor(model => model.ClientIdentification)
        </dd>

        <dt class="col-sm-2" style="white-space:nowrap">
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>
        <dd class="col-sm-10" style="margin-left:5px">
            @Html.DisplayFor(model => model.ClientName)
        </dd>
    </dl>

    <h5 style="color:yellowgreen">Información adicional</h5>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2" style="white-space:nowrap">
            @Html.DisplayNameFor(model => model.RegisterStatus)
        </dt>
        <dd class="col-sm-10" style="margin-left:5px">
            @Html.DisplayFor(model => model.RegisterStatusName)
        </dd>
        <dt class="col-sm-2" style="white-space:nowrap">
            @Html.DisplayNameFor(model => model.CreationDatetime)
        </dt>
        <dd class="col-sm-10" style="margin-left:5px">
            @Html.DisplayFor(model => model.CreationDatetime)
        </dd>
        <dt class="col-sm-2" style="white-space:nowrap">
            @Html.DisplayNameFor(model => model.ModificationDatetime)
        </dt>
        <dd class="col-sm-10" style="margin-left:5px">
            @Html.DisplayFor(model => model.ModificationDatetime)
        </dd>
    </dl>

</div>

<div>
    @if (!Model.HasBeenGenerated && !Model.HasBeenCanceled)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
        <label> | </label>
    }

    @if (!Model.HasBeenCanceled)
    {
        <a asp-action="Manage" asp-route-id="@Model.Id">Gestionar</a>
        <label> | </label>
    }

    <a asp-action="Index">Regresar</a>
</div>
