@model IVSoftware.Data.Models.QuotationRequest

@{
    ViewData["Title"] = "Editar solicitud de cotización";
}

<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

<style>
    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .button1 {
        border-radius: 2px;
    }

    .button2 {
        border-radius: 4px;
    }

    .button3 {
        border-radius: 8px;
    }

    .button4 {
        border-radius: 12px;
    }

    .button5 {
        border-radius: 50%;
    }
</style>

<h1>Editar</h1>

<h4>Solicitud de cotización # @Html.DisplayFor(model => model.Id)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <dl class="row">
                <dt class="col-sm-2" style="white-space:nowrap">
                    @Html.DisplayNameFor(model => model.RequestDateTime)
                </dt>
                <dd class="col-sm-10" style="margin-left:5px">
                    @Html.DisplayFor(model => model.RequestDateTime)
                </dd>

                <dt class="col-sm-2" style="white-space:nowrap">
                    @Html.DisplayNameFor(model => model.ClientRequestDescription)
                </dt>
                @if (Model.HasBeenGenerated || Model.HasBeenCanceled)
                {
                    <dd class="col-sm-10" style="margin-left:5px">
                        @Html.DisplayFor(model => model.ClientRequestDescription)
                    </dd>
                }
                else
                {
                    <div class="col-sm-10" style="margin-left:5px">
                        @Html.TextAreaFor(model => model.ClientRequestDescription, new { @class = "form-control", @rows = 4 })
                    </div>
                }

                <dt class="col-sm-2" style="white-space:nowrap">
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd class="col-sm-10" style="margin-left:5px">
                    @Html.DisplayFor(model => model.StatusName)
                </dd>

                @if (Model.HasBeenGenerated)
                {
                    <dt class="col-sm-2" style="white-space:nowrap">
                        @Html.DisplayNameFor(model => model.LastGenerationDate)
                    </dt>
                    <dd class="col-sm-10" style="margin-left:5px">
                        @Html.DisplayFor(model => model.LastGenerationDate)
                    </dd>
                }
            </dl>

            <h5 style="color:yellowgreen">Información del cliente</h5>
            <hr />
            <dl class="row">
                <dt class="col-sm-2" style="white-space:nowrap">
                    @Html.DisplayNameFor(model => model.ClientIdentification)
                </dt>
                <dd class="col-sm-10" style="margin-left:5px">
                    @Html.DisplayFor(model => model.ClientIdentification)
                </dd>

                <dt class="col-sm-2" style="white-space:nowrap">
                    @Html.DisplayNameFor(model => model.ClientName)
                </dt>
                <dd class="col-sm-10" style="margin-left:5px">
                    @Html.DisplayFor(model => model.ClientName)
                </dd>
            </dl>

            <h5 style="color:yellowgreen">Información adicional</h5>
            <hr />
            <dl class="row">
                <dt class="col-sm-2" style="white-space:nowrap">
                    @Html.DisplayNameFor(model => model.RegisterStatus)
                </dt>
                <dd class="col-sm-10" style="margin-left:5px">
                    @Html.DisplayFor(model => model.RegisterStatusName)
                </dd>
                <dt class="col-sm-2" style="white-space:nowrap">
                    @Html.DisplayNameFor(model => model.CreationDatetime)
                </dt>
                <dd class="col-sm-10" style="margin-left:5px">
                    @Html.DisplayFor(model => model.CreationDatetime)
                </dd>
                <dt class="col-sm-2" style="white-space:nowrap">
                    @Html.DisplayNameFor(model => model.ModificationDatetime)
                </dt>
                <dd class="col-sm-10" style="margin-left:5px">
                    @Html.DisplayFor(model => model.ModificationDatetime)
                </dd>
            </dl>


            <!--Modal para agregar servicios uno por uno-->
            <div class="form-group">
                <button id="btnShowModal"
                        type="button"
                        style="background-color:yellowgreen; color:white"
                        class="btn btn-primary">
                    Agregar servicio
                </button>

                <div class="modal fade" tabindex="-1" id="loginModal" data-keyboard="false" data-backdrop="static">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h5 class="modal-title" style="float:left">Banco de preguntas</h5>
                                <button type="button" class="close" data-dismiss="modal" style="color:red">
                                    X
                                </button>
                            </div>

                            <!--Listado de servicios para agregar-->
                            <table class="table table-striped table-sm" style="display:block; overflow:auto">
                                <thead style="background-color:yellowgreen; color:white">
                                    <tr>
                                        <th></th>
                                        <th>
                                            @Html.Raw("Código")
                                        </th>
                                        <th>
                                            @Html.Raw("Nombre")
                                        </th>

                                        <th>
                                            @Html.Raw("Tipo de servicio")
                                        </th>

                                        <th>
                                            @Html.Raw("Matriz")
                                        </th>

                                        <th>
                                            @Html.Raw("Método de referencia")
                                        </th>

                                        <th>
                                            @Html.Raw("Rango de trabajo")
                                        </th>

                                        <th>
                                            @Html.Raw("Valor unitario")
                                        </th>

                                        <th style="white-space:nowrap">
                                            @Html.Raw("Tiempo de entrega de informe (días)")
                                        </th>

                                        <th>
                                            @Html.Raw("Acreditado por el IDEAM")
                                        </th>

                                        <th>
                                            @Html.Raw("Autorizado INS - Min. Salud")
                                        </th>

                                        <th>
                                            @Html.Raw("Vigente")
                                        </th>

                                        <th style="white-space:nowrap">
                                            @Html.Raw("Observaciones particulares de la prestación del servicio")
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.Services != null && ViewBag.Services.Count > 0)
                                    {
                                        @foreach (var item in ViewBag.Services)
                                        {
                                    <tr>
                                        <td>
                                            <input type="checkbox" class="uncheck_default" value=" @item.Id" />
                                        </td>

                                        @*<td>
                                            @Html.DisplayFor(modelItem => @item.Code)
                                        </td>
                                        <td style="white-space:nowrap">
                                            @Html.DisplayFor(modelItem => @item.Name)
                                        </td>
                                        <td style="white-space:nowrap">
                                            @Html.DisplayFor(model => @item.ServiceTypeName)
                                        </td>
                                        <td style="white-space:nowrap">
                                            @Html.DisplayFor(model => @item.MatrixGroupName)
                                        </td>

                                        <td style="white-space:nowrap">
                                            @Html.DisplayFor(modelItem => @item.ReferenceMethodName)
                                        </td>
                                        <td style="white-space:nowrap">
                                            @Html.DisplayFor(modelItem => @item.WorkingRangeName)
                                        </td>

                                        <td style="white-space:nowrap">
                                            $ @Html.DisplayFor(modelItem => @item.UnitValue)
                                        </td>

                                        <td style="white-space:nowrap">
                                            @Html.DisplayFor(modelItem => @item.ReportDeliveryTime)
                                        </td>

                                        <td>
                                            @item.GetYesNo(@item.AcredditedByIdeam)
                                        </td>
                                        <td>
                                            @item.GetYesNo(@item.AuthorizedByINS)
                                        </td>
                                        <td>
                                            @item.GetYesNo(@item.Valid)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => @item.Description)
                                        </td>*@

                                    </tr>
                                        }
                                    }

                                </tbody>
                            </table>

                            <div class="form-group">
                                <input type="button" id="btnSelectModal" value="Seleccionar" class="btn btn-primary" style="background-color:yellowgreen; color:white; margin-left:20px" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--Listado de servicios asignados-->
            <table class="table table-striped table-sm" style="display:block; overflow:auto">
                <thead style="background-color:yellowgreen; color:white">
                    <tr>
                        <th></th>
                        <th>
                            @Html.Raw("Código")
                        </th>
                        <th>
                            @Html.Raw("Nombre")
                        </th>

                        <th>
                            @Html.Raw("Tipo de servicio")
                        </th>

                        <th>
                            @Html.Raw("Matriz")
                        </th>

                        <th>
                            @Html.Raw("Método de referencia")
                        </th>

                        <th>
                            @Html.Raw("Rango de trabajo")
                        </th>

                        <th>
                            @Html.Raw("Valor unitario")
                        </th>

                        <th style="white-space:nowrap">
                            @Html.Raw("Tiempo de entrega de informe (días)")
                        </th>

                        <th>
                            @Html.Raw("Acreditado por el IDEAM")
                        </th>

                        <th>
                            @Html.Raw("Autorizado INS - Min. Salud")
                        </th>

                        <th>
                            @Html.Raw("Vigente")
                        </th>

                        <th style="white-space:nowrap">
                            @Html.Raw("Observaciones particulares de la prestación del servicio")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Services != null && Model.Services.Count > 0)
                    {
                        @foreach (var service in @Model.Services)
                        {
                            if (service.Service != null)
                            {
                                var item = service.Service;
                                <tr>
                                    <td>
                                        <a asp-action="RemoveService" asp-route-serviceId="@item.Id" asp-route-quotationId="@Model.Id" asp-route-isForManagement="@Model.ManageQuotation"><i class="fas fa-minus-circle" style="font-size:larger; color:red"></i></a>
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Code)
                                    </td>
                                    <td style="white-space:nowrap">
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td style="white-space:nowrap">
                                        @Html.DisplayFor(model => item.ServiceTypeName)
                                    </td>
                                    <td style="white-space:nowrap">
                                        @Html.DisplayFor(model => item.MatrixGroupName)
                                    </td>

                                    <td style="white-space:nowrap">
                                        @Html.DisplayFor(modelItem => item.ReferenceMethodName)
                                    </td>
                                    <td style="white-space:nowrap">
                                        @Html.DisplayFor(modelItem => item.WorkingRangeWithoutPrecondition)
                                    </td>

                                    <td style="white-space:nowrap">
                                        $ @Html.DisplayFor(modelItem => item.UnitValue)
                                    </td>

                                    <td style="white-space:nowrap">
                                        @Html.DisplayFor(modelItem => item.ReportDeliveryTime)
                                    </td>

                                    <td>
                                        @item.GetYesNo(item.AcredditedByIdeam)
                                    </td>
                                    <td>
                                        @item.GetYesNo(item.AuthorizedByINS)
                                    </td>
                                    <td>
                                        @item.GetYesNo(item.Valid)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>

                                </tr>
                            }
                        }
                    }

                </tbody>
            </table>


            <div class="form-group" style="display:none">
                <label asp-for="ModificationDatetime" class="control-label"></label>
                <input asp-for="ModificationDatetime" class="form-control" value="@DateTime.Now" type="datetime" />
                <span asp-validation-for="ModificationDatetime" class="text-danger"></span>
            </div>

            <div class="form-group" style="display:none">
                <label asp-for="RequestDateTime" class="control-label"></label>
                <input asp-for="RequestDateTime" class="form-control" />
                <span asp-validation-for="RequestDateTime" class="text-danger"></span>
            </div>

            <div class="form-group" style="display:none">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group" style="display:none">
                <label asp-for="RegisterStatus" class="control-label"></label>
                <input asp-for="RegisterStatus" class="form-control" value="1" />
                <span asp-validation-for="RegisterStatus" class="text-danger"></span>
            </div>

            @if (!Model.HasBeenGenerated && !Model.HasBeenCanceled)
            {

                @if (Model.ManageQuotation == 1)
                {
                    <div class="row">
                        <div class="form-group col">
                            <input type="submit" value="Guardar" class="btn btn-primary" style="background-color:yellowgreen;color:white" />
                        </div>

                        <div class="form-group col">
                            <input type="button" value="Finalizar" class="btn btn-primary" style="color:white" />
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary" style="background-color:yellowgreen;color:white" />
                    </div>
                }
            }
            else if (!Model.HasBeenCanceled)
            {
                <div class="form-group col">
                    <input type="button" value="Enviar por correo" class="btn btn-primary" style="background-color:yellowgreen; color:white" />
                </div>
            }

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#btnShowModal").click(function () {
            $("#loginModal").modal('show');
        });

        $("#btnHideModal").click(function () {
            $("#loginModal").modal('hide');
        });

        $("#btnSelectModal").click(function () {

            $("#loginModal").modal('hide');
        });
    });

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
