@model IEnumerable<IVSoftware.Data.Models.QuotationRequest>

@{
    ViewData["Title"] = "Solicitudes de cotización";
}

<h1>Solicitudes de cotización</h1>

<p>
    <a asp-action="Create">Registrar solicitud</a>
</p>
<table class="table">
    <thead style="background-color:yellowgreen; color:white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RequestDateTime)
            </th>
            <th>
                Identificación del cliente
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientRequestDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientIdentification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientRequestDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusName)
            </td>

            @if (!item.HasBeenCanceled)
            {
                <td style="white-space:nowrap">
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit" style="font-size:larger"></i></a>
                    &nbsp;
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-stream" style="font-size:larger; color:green"></i></a>
                    &nbsp;
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-minus-circle" style="font-size:larger; color:red"></i></a>
                </td>
            }
            else
            {
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-stream" style="font-size:larger; color:green"></i></a>
                    &nbsp;
                </td>
            }
        </tr>
}
    </tbody>
</table>
