@model IVSoftware.Data.Models.ClientTypeModel

@{
    ViewData["Title"] = "Editar tipo de cliente";
}

<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

<style>
    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .button1 {
        border-radius: 2px;
    }

    .button2 {
        border-radius: 4px;
    }

    .button3 {
        border-radius: 8px;
    }

    .button4 {
        border-radius: 12px;
    }

    .button5 {
        border-radius: 50%;
    }
</style>

<h1>Editar</h1>

<h4>Tipo de cliente</h4>
<hr />
<div>
    <div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" id="txt_register_id" />
            <div class="form-group col-md-4">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group form-check col-md-4">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MustPayServices" /> @Html.DisplayNameFor(model => model.MustPayServices)
                </label>
            </div>

            <h5 style="color:yellowgreen">Incentivos</h5>
            <hr />

            <div class="form-group">
                <button id="btnShowModal"
                        type="button"
                        style="background-color:yellowgreen; color:white"
                        onclick="AddIncentive()"
                        class="btn btn-primary">
                    Agregar incentivo
                </button>

                <div class="modal fade" tabindex="-1" id="loginModal" data-keyboard="false" data-backdrop="static">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h5 class="modal-title" style="float:left">Incentivos</h5>
                                <button type="button" class="close" data-dismiss="modal" style="color:red">
                                    X
                                </button>
                            </div>

                            <table class="table">
                                <thead style="background-color:yellowgreen; color:white">
                                    <tr>
                                        <th></th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Name)
                                        </th>

                                        <th>
                                            Valor
                                        </th>

                                        <th>
                                            ¿Es porcentaje?
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (@ViewBag.Incentives != null)
                                    {
                                        foreach (var item in @ViewBag.Incentives)
                                        {
                                            <!--Listado de incentivos para asociar-->
                                            <tr>
                                                <td>
                                                    <input type="checkbox" class="uncheck_default" value=" @item.Id" />
                                                </td>
                                                <td style="white-space:nowrap">
                                                    @item.Name
                                                </td>
                                                <td style="white-space:nowrap">
                                                    @item.ValueText
                                                </td>
                                                <td>
                                                    @item.IsPercentageValue
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>

                            <div class="form-group">
                                <input type="button" id="btnSelectModal" value="Seleccionar" class="btn btn-primary" style="background-color:yellowgreen; color:white; margin-left:20px" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--Listado de incentivos asociados-->
            <table class="table">
                <thead style="background-color:yellowgreen; color:white">
                    <tr>
                        <th></th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.Raw("Valor")
                        </th>
                        <th style="white-space:nowrap">
                            @Html.Raw("¿Es porcentaje?")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Incentives != null && Model.Incentives.Count > 0)
                    {
                        @foreach (var item in Model.Incentives)
                        {
                            if (item != null)
                            {
                                <tr>
                                    <td>
                                        <a asp-action="UnassignIncentive" asp-route-incentiveId="@item.Id" asp-route-_id="@Model.Id"><i class="fas fa-minus-circle" style="font-size:larger; color:red"></i></a>
                                    </td>
                                    <td style="white-space:nowrap">
                                        @Html.DisplayFor(modelItem => item.Incentive.Name)
                                    </td>
                                    <td style="white-space:nowrap">
                                        @Html.DisplayFor(modelItem => item.Incentive.ValueText)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Incentive.IsPercentageValue)
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>

            <div class="form-group" style="display:none">
                <label asp-for="RegisterStatus" class="control-label"></label>
                <input asp-for="RegisterStatus" class="form-control" value="1" />
                <span asp-validation-for="RegisterStatus" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="CreationDatetime" class="control-label"></label>
                <input asp-for="CreationDatetime" class="form-control" />
                <span asp-validation-for="CreationDatetime" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="ModificationDatetime" class="control-label"></label>
                <input asp-for="ModificationDatetime" class="form-control" value="@DateTime.Now" type="datetime" />
                <span asp-validation-for="ModificationDatetime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" style="background-color:yellowgreen; color:white" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#btnShowModal").click(function () {
            var inputs = document.querySelectorAll('.uncheck_default');
            for (var i = 0; i < inputs.length; i++) {
                inputs[i].checked = false;
            }

            $("#loginModal").modal('show');
        });

        $("#btnHideModal").click(function () {
            $("#loginModal").modal('hide');
        });

        $("#btnSelectModal").click(function () {
            var inputs = document.querySelectorAll('.uncheck_default');
            var ids = "";
            for (var i = 0; i < inputs.length; i++) {
                if (inputs[i].checked) {
                    ids = ids + ";" + inputs[i].value;
                }
            }

            assignIncentives(ids, $("#txt_register_id").val());

            $("#loginModal").modal('hide');
        });
    });

</script>

@section Scripts {

    <script>
        function assignIncentives() {
            var ids = arguments[0];
            var section_id = arguments[1];
            var url = "@Url.Action("AssignIncentives")";

            $.get(url, { incentiveIds: ids, _id: section_id }, function (data) {
                location.reload();
            });

            $("#loginModal").modal('hide');
        }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
