@model IVSoftware.Data.Models.ChecklistResponseHeader

@{
    ViewData["Title"] = "Eliminar chequeo de dispositivo";
}

@if (Model.Equipment != null && Model.Equipment.Name != null && !string.IsNullOrEmpty(Model.Equipment.Name.Replace(" ", string.Empty)))
{
    <h1>@Model.Equipment.Name - @Model.CheckList.Name</h1>
}
else
{
    <h1>Detalle de lista de chequeo</h1>
}
<div>
    @if (Model.ValidationResult)
    {
        <h4 style="color:green">Conforme</h4>
    }
    else
    {
        <h4 style="color:red">No conforme</h4>
    }

    <div>
        <label><b>@Html.DisplayNameFor(model => model.FillUpDate):</b></label>
        <label>@Html.DisplayFor(model => model.FillUpDate)</label>
    </div>
    <hr />

    @if (Model.Equipment != null)
    {
        <h5 style="color:yellowgreen">Información del equipo</h5>
        <hr />

        <dl class="row">
            <dt class="col-sm-2">
                Equipo:
            </dt>
            <dd class="col-sm-10">
                @Model.Equipment.Name
            </dd>
            <dt class="col-sm-2">
                Modelo:
            </dt>
            <dd class="col-sm-10">
                @Model.Equipment.Model
            </dd>
            <dt class="col-sm-2">
                Marca:
            </dt>
            <dd class="col-sm-10">
                @Model.Equipment.BrandName
            </dd>
            <dt class="col-sm-2">
                Serie:
            </dt>
            <dd class="col-sm-10">
                @Model.Equipment.Serie
            </dd>
        </dl>
    }

    <hr />

    <h5>¿Está seguro que desea eliminar la información del cuestionario?</h5>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id"/>
        <input type="hidden" asp-for="EquipmentId"/>

        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a href="#" onclick="goBack()">Regresar</a>
    </form>
</div>

<script>
function goBack() {
  window.history.back();
}
</script>
