@model IVSoftware.Data.Models.AirResourceMonitoringDeviceMaintenance

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AirResourceMonitoringDeviceMaintenance</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfMaintenanceId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfMaintenanceId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Equipment.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProviderName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderIdentificaton)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProviderIdentificaton)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProviderAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProviderPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderContactName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProviderContactName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SparePartsChanged)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SparePartsChanged)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NextMaintenanceDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NextMaintenanceDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisterStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisterStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDatetime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDatetime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModificationDatetime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModificationDatetime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
