@model IVSoftware.Web.Models.Respuesta

@{
    ViewData["Title"] = "Respuesta - Detalles";
}

<h5 class="text-primary titulo">Respuesta - Detalles</h5>
<hr />

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Orden)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Orden)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.RespuestaCorrecta)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.RespuestaCorrecta)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Texto)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Texto)
    </dd>
</dl>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-controller="pregunta" asp-action="Details" asp-route-id="@Model.PreguntaId">Regresar</a>
</div>