@model IEnumerable<IVSoftware.Web.Models.Respuesta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Texto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RespuestaCorrecta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pregunta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Texto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RespuestaCorrecta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pregunta.Id)
            </td>
            <td style="white-space:nowrap">
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
