@model Person
@{
    ViewData["Title"] = "Editar usuario";
    string errorMessage = TempData["PersonError"]?.ToString();
    bool disabled = User.IsInRole("Funcionario");
}

<form method="post" style="font-size:small">
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="User" />
    <input type="hidden" asp-for="RecordStatus" />
    <div>
        <h5 class="text-primary titulo">Editar usuario</h5>
    </div>
    <hr />
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @errorMessage
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <div class="row">
        <div class="col">
            <a asp-action="DownloadExcelDocument" asp-route-id="@Model.Id" class="float-right btn btn-primary mb-3">
                Descargar
            </a>
            @if (Model.RecordStatus.HasValue && Model.RecordStatus.Value)
            {
                @if (ViewBag.HasUser != null && !ViewBag.HasUser)
                {
                    <button id="btnNew" type="button" class="btn btn-primary mb-3" data-toggle="modal" href="#create-modal" data-id="@Model.Id">
                        Crear Acceso Web
                    </button>
                }
                else if (ViewBag.HasUser != null && ViewBag.HasUser && User.IsInRole("Administrador"))
                {
                    <button id="btnReset" type="button" class="btn btn-primary mb-3" data-toggle="modal" href="#create-modal" data-id="@Model.Id">
                        Restablecer Contraseña
                    </button>
                }

                if (User.IsInRole("Administrador"))
                {
                    <a asp-action="PersonRecordStatus" asp-route-id="@Model.Id" class="btn btn-primary mb-3">
                        Inactivar
                    </a>
                }
            }
            else if (User.IsInRole("Administrador"))
            {
                <a asp-action="PersonRecordStatus" asp-route-id="@Model.Id" class="btn btn-primary mb-3">
                    Activar
                </a>
            }
        </div>
    </div>



    <div class="row">
        <div class="col">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="IdentificationTypeId" style="color:white"></label>
                </div>
                <select asp-for="IdentificationTypeId" class="form-control" disabled="@disabled">
                    <option value=""></option>
                    @foreach (var item in ViewBag.IdentificationTypes)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
                <span asp-validation-for="IdentificationTypeId" class="text-danger small"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="IdentificationNumber" style="color:white"></label>
                </div>
                <input asp-for="IdentificationNumber" class="form-control" disabled="@disabled" />
                <span asp-validation-for="IdentificationNumber" class="text-danger small"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="FirstName" style="color:white"></label>
                </div>
                <input asp-for="FirstName" class="form-control" disabled="@disabled" />
                <span asp-validation-for="FirstName" class="text-danger small"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="MiddleName" style="color:white"></label>
                </div>
                <input asp-for="MiddleName" class="form-control" disabled="@disabled" />
                <span asp-validation-for="MiddleName" class="text-danger small"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="FirstLastName" style="color:white"></label>
                </div>
                <input asp-for="FirstLastName" class="form-control" disabled="@disabled" />
                <span asp-validation-for="FirstLastName" class="text-danger small"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="SecondLastName" style="color:white"></label>
                </div>
                <input asp-for="SecondLastName" class="form-control" disabled="@disabled" />
                <span asp-validation-for="SecondLastName" class="text-danger small"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="Email" style="color:white"></label>
                </div>
                <input asp-for="Email" class="form-control" disabled="@disabled" />
                <span asp-validation-for="Email" class="text-danger small"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="PhoneNumber" style="color:white"></label>
                </div>
                <input asp-for="PhoneNumber" class="form-control" disabled="@disabled" />
                <span asp-validation-for="PhoneNumber" class="text-danger small"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="GenderId" style="color:white"></label>
                </div>
                <select asp-for="GenderId" class="form-control" disabled="@disabled">
                    <option value=""></option>
                    @foreach (var item in ViewBag.Genders)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
                <span asp-validation-for="GenderId" class="text-danger small"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="BloodTypeId" style="color:white"></label>
                </div>
                <select asp-for="BloodTypeId" class="form-control" disabled="@disabled">
                    <option value=""></option>
                    @foreach (var item in ViewBag.BloodTypes)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
                <span asp-validation-for="BloodTypeId" class="text-danger small"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="Birthdate" style="color:white"></label>
                </div>
                <input asp-for="Birthdate" type="date" class="form-control" disabled="@disabled" />
                <span asp-validation-for="Birthdate" class="text-danger small"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="Address" style="color:white"></label>
                </div>
                <input asp-for="Address" class="form-control" disabled="@disabled" />
                <span asp-validation-for="Address" class="text-danger small"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="ArlId" style="color:white"></label>
                </div>
                <select asp-for="ArlId" class="form-control" disabled="@disabled">
                    <option value=""></option>
                    @foreach (var item in ViewBag.ARLs)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
                <span asp-validation-for="ArlId" class="text-danger small"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="EpsId" style="color:white"></label>
                </div>
                <select asp-for="EpsId" class="form-control" disabled="@disabled">
                    <option value=""></option>
                    @foreach (var item in ViewBag.EPSs)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
                <span asp-validation-for="EpsId" class="text-danger small"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-3">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="ContractTypeId" style="color:white"></label>
                </div>
                <select asp-for="ContractTypeId" class="form-control" disabled="@disabled">
                    <option value=""></option>
                    @foreach (var item in ViewBag.ContractTypes)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
                <span asp-validation-for="ContractTypeId" class="text-danger small"></span>
            </div>
        </div>
        <div class="col-sm-12 col-md-3">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="WorkExperiencesTime" style="color:white"></label>
                </div>
                <input asp-for="WorkExperiencesTime" class="form-control" readonly="readonly" />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="Roles" style="color:white"></label>
                </div>
                <select asp-for="Roles" multiple="multiple" class="form-control"
                        asp-items="(List<SelectListItem>) ViewBag.JobRoles" disabled="@disabled">
                </select>
            </div>
        </div>
    </div>

    @if (ViewBag.HasUser != null && ViewBag.HasUser && User.IsInRole("Administrador"))
    {
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <div class="form-group">
                    <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                        <label asp-for="Role" style="color:white"></label>
                    </div>
                    <select asp-for="Role" class="form-control"
                            asp-items="(List<SelectListItem>) ViewBag.Roles">
                    </select>
                    <span asp-validation-for="Role" class="text-danger small"></span>
                </div>
            </div>
        </div>
    }

    <div class="row">
        <div class="col">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="Skills" style="color:white"></label>
                </div>
                <textarea asp-for="Skills" class="form-control" rows="3" disabled="@disabled"></textarea>
                <span asp-validation-for="Skills" class="text-danger small"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                @if (User.IsInRole("Administrador"))
                {
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                }

                @if (User.IsInRole("Administrador"))
                {
                    <a asp-action="Index" class="btn btn-primary"> Cancelar </a>
                }
                else
                {
                    <a asp-controller="Home" asp-action="Index" class="btn btn-primary"> Cancelar </a>
                }
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 20px">
        <div class="col">
            <a class="btn btn-outline-secondary" data-toggle="collapse" href="#collapseEducacionBasica" role="button" aria-expanded="false" aria-controls="collapseExample">
                Educación básica
            </a>
            <a class="btn btn-outline-secondary" data-toggle="collapse" href="#collapseEducacionSuperior" role="button" aria-expanded="false" aria-controls="collapseExample">
                Educación superior
            </a>
            <a class="btn btn-outline-secondary" data-toggle="collapse" href="#collapseFormacion" role="button" aria-expanded="false" aria-controls="collapseExample">
                Formación
            </a>
            <a class="btn btn-outline-secondary" data-toggle="collapse" href="#collapseExperiencia" role="button" aria-expanded="false" aria-controls="collapseExample">
                Experiencia
            </a>
            <a class="btn btn-outline-secondary" data-toggle="collapse" href="#collapseConocimientoTecnico" role="button" aria-expanded="false" aria-controls="collapseExample">
                Conocimiento técnico específico
            </a>
            <a class="btn btn-outline-secondary" data-toggle="collapse" href="#collapseSupervisionesPorMi" role="button" aria-expanded="false" aria-controls="collapseExample">
                Supervisiones realizadas por mi
            </a>

            <div class="collapse" id="collapseEducacionBasica" style="margin-top:20px">
                <div class="card card-body">
                    <h6 class="text-success titulo">Educación básica</h6>
                    <table class="table">
                        <thead style="background-color:yellowgreen; color:white">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.BasicEducations.FirstOrDefault().InstitutionName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BasicEducations.FirstOrDefault().LastGradeApproved)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BasicEducations.FirstOrDefault().SpecialtyName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BasicEducations.FirstOrDefault().DegreeDate)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.BasicEducations)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.InstitutionName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LastGradeApproved)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SpecialtyName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DegreeDate)
                                    </td>
                                    <td align="right">
                                        <a asp-controller="BasicEducations" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit" style="font-size:larger"></i></a>&nbsp;
                                        <a asp-controller="BasicEducations" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-minus-circle" style="font-size:larger; color:red"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div>
                        <a asp-action="Create" asp-controller="BasicEducations" asp-route-personId="@Model.Id"
                           class="btn btn-primary btn-sm"
                           style="margin-top:10px">Agregar</a>
                    </div>
                </div>

            </div>

            <div class="collapse" id="collapseEducacionSuperior" style="margin-top:20px">
                <div class="card card-body">
                    <h6 class="text-success titulo">Educación superior</h6>
                    <table class="table">
                        <thead style="background-color:yellowgreen; color:white; vertical-align:central">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.HigherEducations.FirstOrDefault().InstitutionName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.HigherEducations.FirstOrDefault().StudiesName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.HigherEducations.FirstOrDefault().AcademicLevel)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.HigherEducations.FirstOrDefault().DegreeDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.HigherEducations.FirstOrDefault().ProfessionalCardNumber)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.HigherEducations)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.InstitutionName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StudiesName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AcademicLevel.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DegreeDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProfessionalCardNumber)
                                    </td>
                                    <td align="right">
                                        <a asp-controller="HigherEducations" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit" style="font-size:larger"></i></a>&nbsp;
                                        <a asp-controller="HigherEducations" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-minus-circle" style="font-size:larger; color:red"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div>
                        <input type="button" value="Agregar" onclick="location.href='@Url.Action("Create", "HigherEducations", new { personId = Model.Id })'"
                               class="btn btn-primary btn-sm"
                               style="margin-top:10px" />
                    </div>
                </div>
            </div>

            <div class="collapse" id="collapseFormacion" style="margin-top:20px">
                <div class="card card-body">
                    <h6 class="text-success titulo">Formación</h6>
                    <table class="table">
                        <thead style="background-color:yellowgreen; color:white">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Trainings.FirstOrDefault().Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Trainings.FirstOrDefault().Subject)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Trainings.FirstOrDefault().CertificationType)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Trainings.FirstOrDefault().Entity)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Trainings.FirstOrDefault().EndDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Trainings.FirstOrDefault().NumberOfHours)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Trainings)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Subject)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CertificationType.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Entity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EndDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NumberOfHours)
                                    </td>
                                    <td align="right">
                                        <a asp-controller="Trainings" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit" style="font-size:larger"></i></a>&nbsp;
                                        <a asp-controller="Trainings" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-minus-circle" style="font-size:larger; color:red"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div>
                        <input type="button" value="Agregar" onclick="location.href='@Url.Action("Create", "Trainings", new { personId = Model.Id })'"
                               class="btn btn-primary btn-sm"
                               style="margin-top:10px" />
                    </div>
                </div>
            </div>

            <div class="collapse" id="collapseExperiencia" style="margin-top:20px">
                <div class="card card-body">
                    <h6 class="text-success titulo">Experiencia</h6>
                    <table class="table">
                        <thead style="background-color:yellowgreen; color:white">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.WorkExperiences.FirstOrDefault().CompanyName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.WorkExperiences.FirstOrDefault().JobTitle)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.WorkExperiences.FirstOrDefault().StartDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.WorkExperiences.FirstOrDefault().EndDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.WorkExperiences.FirstOrDefault().Responsibilities)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.WorkExperiences)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CompanyName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.JobTitle)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StartDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EndDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Responsibilities)
                                    </td>
                                    <td align="right">
                                        <a asp-controller="WorkExperiences" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit" style="font-size:larger"></i></a>&nbsp;
                                        <a asp-controller="WorkExperiences" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-minus-circle" style="font-size:larger; color:red"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div>
                        <input type="button" value="Agregar" onclick="location.href='@Url.Action("Create", "WorkExperiences", new { personId = Model.Id })'"
                               class="btn btn-primary btn-sm"
                               style="margin-top:10px" />
                    </div>
                </div>
            </div>

            <div class="collapse" id="collapseConocimientoTecnico" style="margin-top:20px">
                <div class="card card-body">
                    <h6 class="text-success titulo">Conocimiento técnico específico</h6>
                    <div class="row">
                        <div class="col">
                            <table class="table">
                                <thead style="background-color:yellowgreen; color:white">
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.TechnicalKnowledges.FirstOrDefault().Service)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.TechnicalKnowledges.FirstOrDefault().AnalyticTechnique)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.TechnicalKnowledges.FirstOrDefault().Matrix)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.TechnicalKnowledges.FirstOrDefault().Time)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.TechnicalKnowledges)
                                    {
                                        <tr>
                                            <td>
                                                @if (item.Service != null)
                                                {
                                                    @Html.DisplayFor(modelItem => item.Service.Name)
                                                }
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AnalyticTechnique)
                                            </td>
                                            <td>
                                                @if (item.Matrix != null)
                                                {
                                                    @Html.DisplayFor(modelItem => item.Matrix.Name)
                                                }
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Time)
                                            </td>
                                            <td align="right">
                                                <a asp-controller="TechnicalKnowledges" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit" style="font-size:larger"></i></a>&nbsp;
                                                <a asp-controller="TechnicalKnowledges" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-minus-circle" style="font-size:larger; color:red"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div>
                                <input type="button" value="Agregar" onclick="location.href='@Url.Action("Create", "TechnicalKnowledges", new { personId = Model.Id })'"
                                       class="btn btn-primary btn-sm"
                                       style="margin-top:10px" />
                            </div>
                        </div>
                    </div>
                    <h6 class="text-success titulo" style="margin-top:20px">Otros</h6>
                    <div class="row">
                        <div class="col">
                            <table class="table">
                                <thead style="background-color:yellowgreen; color:white">
                                <thead style="background-color:yellowgreen; color:white">
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.OtherTechnicalKnowledges.FirstOrDefault().Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.OtherTechnicalKnowledges.FirstOrDefault().Time)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.OtherTechnicalKnowledges)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Time)
                                            </td>
                                            <td align="right">
                                                <a asp-controller="OtherTechnicalKnowledges" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit" style="font-size:larger"></i></a>&nbsp;
                                                <a asp-controller="OtherTechnicalKnowledges" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-minus-circle" style="font-size:larger; color:red"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div>
                                <input type="button" value="Agregar" onclick="location.href='@Url.Action("Create", "OtherTechnicalKnowledges", new { personId = Model.Id })'"
                                       class="btn btn-primary btn-sm"
                                       style="margin-top:10px" />
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>

            <div class="collapse" id="collapseSupervisionesPorMi" style="margin-top:20px">
                <div class="card card-body">
                    <h6 class="text-success titulo">Supervisiones realizadas por mi</h6>
                    <table class="table">
                        <thead style="background-color:yellowgreen; color:white">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.SupervisionsByMe.FirstOrDefault().SupervisedBy)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SupervisionsByMe.FirstOrDefault().SupervisedPerson)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SupervisionsByMe.FirstOrDefault().Date)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.SupervisionsByMe)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SupervisedBy.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SupervisedPerson.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </td>
                                    <td align="right">
                                        <a asp-controller="Supervisions" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit" style="font-size:larger"></i></a>&nbsp;
                                        <a asp-controller="Supervisions" asp-action="DownloadExcelDocument" asp-route-id="@item.Id"><i class="fas fa-cloud-download-alt" style="font-size:larger"></i></a>&nbsp;
                                        <a asp-controller="Supervisions" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-minus-circle" style="font-size:larger; color:red"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div>
                        <a asp-action="Create" asp-controller="Supervisions" asp-route-personId="@Model.Id"
                           class="btn btn-primary btn-sm"
                           style="margin-top:10px">Agregar</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

<!-- Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="userModal" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="mymodal"></div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <!-- Include the plugin's JS: -->
    <script src="~/lib/bootstrap-multiselect/js/bootstrap-multiselect.min.js"></script>
}

@section Styles {
    <!-- Include the plugin's CSS: -->
    <link href="~/lib/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet" />
}

@section FooterAssets {
    <script>
        var createURL = '@Url.Action("CreateUser", "People")';
        var resetURL = '@Url.Action("ResetPassword", "People")';
        $(document).ready(function () {
            $('#Roles').multiselect({
                buttonWidth: '100%',
                enableFiltering: true,
                filterPlaceholder: 'Filtrar',
                includeSelectAllOption: true,
                selectAllText: 'Seleccionar todos!',
                allSelectedText: 'Todos seleccionados',
                nonSelectedText: 'Sin selección',
                nSelectedText: 'Seleccionados',
            });

		    $('#btnNew').on("click", function () {
		        let data_id = "0";
		        if (typeof $(this).data('id') !== 'undefined') {
		            data_id = $(this).data('id');
		        }

		        $('#create-modal #id').val(data_id);
		        $.ajax({
		            url: createURL,
		            data: { id: data_id },
		            success: function (data) {
		                $('.modal-content').html(data);
                        $('#userModal').modal('show');
		            }
		        });
            });

            $('#btnReset').on("click", function () {
                let data_id = "0";
                if (typeof $(this).data('id') !== 'undefined') {
                    data_id = $(this).data('id');
                }

                $('#create-modal #id').val(data_id);
                $.ajax({
                    url: resetURL,
                    data: { id: data_id },
                    success: function (data) {
                        $('.modal-content').html(data);
                        $('#userModal').modal('show');
                    }
                });
            });
		});
    </script>
}