@model Person
@{
    ViewData["Title"] = "Editar usuario";
}

<form method="post" style="font-size:small">
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="User" />
    <div>
        <h5 class="text-primary titulo">Editar usuario</h5>
    </div>
    <hr />

    @if (ViewBag.HasUser != null && !ViewBag.HasUser)
    {
        <div class="row">
            <div class="col">
                <button id="btnNew" type="button" class="float-right btn btn-primary mb-3" data-toggle="modal" href="#create-modal" data-id="@Model.Id">
                    Crear Acceso Web
                </button>
            </div>
        </div>
    }

    <div class="row">
        <div class="col">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="IdentificationTypeId" style="color:white"></label>
                </div>
                <select asp-for="IdentificationTypeId" class="form-control">
                    <option value=""></option>
                    @foreach (var item in ViewBag.IdentificationTypes)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
                <span asp-validation-for="IdentificationTypeId" class="text-danger small"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="IdentificationNumber" style="color:white"></label>
                </div>
                <input asp-for="IdentificationNumber" class="form-control" />
                <span asp-validation-for="IdentificationNumber" class="text-danger small"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="FirstName" style="color:white"></label>
                </div>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger small"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="MiddleName" style="color:white"></label>
                </div>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger small"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="FirstLastName" style="color:white"></label>
                </div>
                <input asp-for="FirstLastName" class="form-control" />
                <span asp-validation-for="FirstLastName" class="text-danger small"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="SecondLastName" style="color:white"></label>
                </div>
                <input asp-for="SecondLastName" class="form-control" />
                <span asp-validation-for="SecondLastName" class="text-danger small"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="Email" style="color:white"></label>
                </div>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger small"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="PhoneNumber" style="color:white"></label>
                </div>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger small"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="GenderId" style="color:white"></label>
                </div>
                <select asp-for="GenderId" class="form-control">
                    <option value=""></option>
                    @foreach (var item in ViewBag.Genders)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
                <span asp-validation-for="GenderId" class="text-danger small"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="BloodTypeId" style="color:white"></label>
                </div>
                <select asp-for="BloodTypeId" class="form-control">
                    <option value=""></option>
                    @foreach (var item in ViewBag.BloodTypes)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
                <span asp-validation-for="BloodTypeId" class="text-danger small"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="Birthdate" style="color:white"></label>
                </div>
                <input asp-for="Birthdate" type="date" class="form-control" />
                <span asp-validation-for="Birthdate" class="text-danger small"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="Address" style="color:white"></label>
                </div>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger small"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="ArlId" style="color:white"></label>
                </div>
                <select asp-for="ArlId" class="form-control">
                    <option value=""></option>
                    @foreach (var item in ViewBag.ARLs)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
                <span asp-validation-for="ArlId" class="text-danger small"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="EpsId" style="color:white"></label>
                </div>
                <select asp-for="EpsId" class="form-control">
                    <option value=""></option>
                    @foreach (var item in ViewBag.EPSs)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
                <span asp-validation-for="EpsId" class="text-danger small"></span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="ContractTypeId" style="color:white"></label>
                </div>
                <select asp-for="ContractTypeId" class="form-control">
                    <option value=""></option>
                    @foreach (var item in ViewBag.ContractTypes)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
                <span asp-validation-for="ContractTypeId" class="text-danger small"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="Skills" style="color:white"></label>
                </div>
                <textarea asp-for="Skills" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Skills" class="text-danger small"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary"> Cancelar </a>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 20px">
        <div class="col">
            <a class="btn btn-outline-secondary" data-toggle="collapse" href="#collapseEducacionBasica" role="button" aria-expanded="false" aria-controls="collapseExample">
                Educación básica
            </a>
            
            <div class="collapse" id="collapseEducacionBasica" style="margin-top:20px">
                <div class="card card-body">
                    <h6 class="text-success titulo">Educación básica</h6>
                    <table class="table">
                        <thead style="background-color:yellowgreen; color:white">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.BasicEducations.FirstOrDefault().InstitutionName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BasicEducations.FirstOrDefault().LastGradeApproved)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BasicEducations.FirstOrDefault().SpecialtyName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BasicEducations.FirstOrDefault().DegreeDate)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.BasicEducations)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.InstitutionName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LastGradeApproved)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SpecialtyName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DegreeDate)
                                    </td>
                                    <td align="right">
                                        <a asp-controller="EducacionBasica" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit" style="font-size:larger"></i></a>&nbsp;
                                        <a asp-controller="EducacionBasica" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-stream" style="font-size:larger; color:green"></i></a>&nbsp;
                                        <a asp-controller="EducacionBasica" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-minus-circle" style="font-size:larger; color:red"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div>
                        <a asp-action="Create" asp-controller="BasicEducations" asp-route-personId="@Model.Id"
                           class="btn btn-primary btn-sm"
                           style="margin-top:10px">Agregar</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

<!-- Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="userModal" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="mymodal"></div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@section FooterAssets {
    <script>
        var createURL = '@Url.Action("CreateUser", "People")';
        $(document).ready(function () {
		    $('#btnNew').on("click", function () {
		        let data_id = "0";
		        if (typeof $(this).data('id') !== 'undefined') {
		            data_id = $(this).data('id');
		        }

		        $('#create-modal #id').val(data_id);
		        $.ajax({
		            url: createURL,
		            data: { id: data_id },
		            success: function (data) {
		                $('.modal-content').html(data);
                        $('#userModal').modal('show');
		            }
		        });
		    });
		});
    </script>
}