@model Evaluation

@{
    ViewData["Title"] = "Editar";
}

<h5 class="text-primary titulo">Evaluación - Editar</h5>
<hr />
<form asp-action="Edit">
    <div class="row">
        <div class="col">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-sm-12">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="Name" class="control-label" style="color:white"></label>
                </div>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="Date" class="control-label" style="color:white"></label>
                </div>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="PercentageToPass" class="control-label" style="color:white"></label>
                </div>
                <input asp-for="PercentageToPass" class="form-control" min="50" max="100" step="10" />
                <span asp-validation-for="PercentageToPass" class="text-danger"></span>
            </div>
        </div>
    </div>
    @*<div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="PeriodicityId" class="control-label" style="color:white"></label>
                </div>
                <select asp-for="PeriodicityId" class="form-control"
                        asp-items="(List<SelectListItem>) ViewBag.Periodicity">
                </select>
                <span asp-validation-for="PeriodicityId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2 col-sm-6">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="PeriodicityAmount" class="control-label" style="color:white"></label>
                </div>
                <input asp-for="PeriodicityAmount" class="form-control" min="0" />
                <span asp-validation-for="PeriodicityAmount" class="text-danger"></span>
            </div>
        </div>
    </div>*@
    <div class="row">
        <div class="col">
            <div class="form-group">
                <input type="submit" value="Editar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Cancelar</a>
            </div>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary float-right mb-3"
                    data-toggle="modal" id="assignQuestions" href="#assign-modal"
                    data-id="@Model.Id">
                Asignar preguntas
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table" id="AssignedQuestions">
                <thead style="background-color:yellowgreen; color:white">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.QuestionsEvaluation
                                .FirstOrDefault().Question.Question)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.QuestionsEvaluation)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Question.Question)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <hr />
    <br />
    <div class="row">
        <div class="col">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary float-right mb-3"
                    data-toggle="modal" id="assignPeople" href="#assign-modal"
                    data-id="@Model.Id">
                Asignar personas
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table" id="AssignedUsers">
                <thead style="background-color:yellowgreen; color:white">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.PersonEvaluations.FirstOrDefault().Person.FullName)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.PersonEvaluations)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Person.FullName)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</form>

<!-- Modal -->
<div class="modal fade" id="assignModal" tabindex="-1" role="dialog" aria-labelledby="assignModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content"></div>
    </div>
</div>

@section Styles {
    <link href="~/lib/datatables.net/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatables.net/select.dataTables.min.css" rel="stylesheet" />
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/datatables.net/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/datatables.net/dataTables.select.min.js"></script>

    <script>
        $(document).ready(function () {
            const AssignPeopleURL = '@Url.Action("AssignPeople", "Evaluations")';
            $('#assignPeople').on("click", function () {
                let data_id = "0";
                if (typeof $(this).data('id') !== 'undefined') {
                    data_id = $(this).data('id');
                }

                $.ajax({
                    url: AssignPeopleURL,
                    data: { id: data_id },
                    success: function (data) {
                        $('.modal-content').html(data);
                        $('#assignModal').modal('show');
                    }
                });
            });

            const AssignQuestionsURL = '@Url.Action("AssignQuestions", "Evaluations")';
            $('#assignQuestions').on("click", function () {
                let data_id = "0";
                if (typeof $(this).data('id') !== 'undefined') {
                    data_id = $(this).data('id');
                }

                $.ajax({
                    url: AssignQuestionsURL,
                    data: { id: data_id },
                    success: function (data) {
                        $('.modal-content').html(data);
                        $('#assignModal').modal('show');
                    }
                });
            });

            $('#AssignedUsers').DataTable({
                language: {
                    url: '/lib/datatables.net/Spanish.json'
                }
            });

            $('#AssignedQuestions').DataTable({
                language: {
                    url: '/lib/datatables.net/Spanish.json'
                }
            });
        });
    </script>
}