@model IVSoftware.Web.Models.ConocimientoTecnico

@{
    ViewData["Title"] = "Conocimiento técnico - Editar";
}

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <h5 class="text-primary titulo">Educación básica - Editar</h5>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Persona.NombreCompleto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Persona.NombreCompleto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Persona.NumeroIdentificacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Persona.NumeroIdentificacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Persona.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Persona.Email)
        </dd>
    </dl>

    <div class="row" style="margin-top:20px">
        <div class="col">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="Analisis" class="control-label" style="color:white"></label>
                </div>
                <input asp-for="Analisis" class="form-control" />
                <span asp-validation-for="Analisis" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="TecnicaAnalitica" class="control-label" style="color:white"></label>
                </div>
                <input asp-for="TecnicaAnalitica" class="form-control" />
                <span asp-validation-for="TecnicaAnalitica" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="Matriz" class="control-label" style="color:white"></label>
                </div>
                <input asp-for="Matriz" class="form-control" />
                <span asp-validation-for="Matriz" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="Tiempo" class="control-label" style="color:white"></label>
                </div>
                <input asp-for="Tiempo" class="form-control" />
                <span asp-validation-for="Tiempo" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>

    <input type="hidden" asp-for="Id" />
    <div class="form-group" hidden>
        <label asp-for="PersonaId" class="control-label"></label>
        <select asp-for="PersonaId" class="form-control" asp-items="ViewBag.PersonaId"></select>
        <span asp-validation-for="PersonaId" class="text-danger"></span>
    </div>

</form>
    
<div>
    <a asp-controller="Persona" asp-action="EditarPerfil" asp-route-userName="@Model.Persona.Email">Regresar</a>
</div>

