@model IVSoftware.Web.Models.Formacion

@{
    ViewData["Title"] = "Formación - Agregar";
    var persona = (Persona)ViewBag.persona;
}

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <h5 class="text-primary titulo">Formación - Agregar</h5>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Persona.NombreCompleto):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => @persona.NombreCompleto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Persona.NumeroIdentificacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => @persona.NumeroIdentificacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Persona.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => @persona.Email)
        </dd>
    </dl>

    <div class="row" style="margin-top:20px">
        <div class="col">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="NombreCurso" class="control-label" style="color:white"></label>
                </div>
                <input asp-for="NombreCurso" class="form-control" />
                <span asp-validation-for="NombreCurso" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="Tema" class="control-label" style="color:white"></label>
                </div>
                <input asp-for="Tema" class="form-control" />
                <span asp-validation-for="Tema" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="TipoCertificacionId" class="control-label" style="color:white"></label>
                </div>
                <select asp-for="TipoCertificacionId" class="form-control" asp-items="ViewBag.TipoCertificacionId"></select>
                <span asp-validation-for="TipoCertificacionId" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="Entidad" class="control-label" style="color:white"></label>
                </div>
                <input asp-for="Entidad" class="form-control" />
                <span asp-validation-for="Entidad" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:20px">
        <div class="col">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="FechaFinalizacion" class="control-label" style="color:white"></label>
                </div>
                <input asp-for="FechaFinalizacion" class="form-control" type="date" />
                <span asp-validation-for="FechaFinalizacion" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="NumeroHoras" class="control-label" style="color:white"></label>
                </div>
                <input asp-for="NumeroHoras" class="form-control" />
                <span asp-validation-for="NumeroHoras" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr />
            <h6 class="text-success titulo">Archivo adjunto</h6>
            <input type="file" name="file" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr />
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </div>
    </div>

    <div class="form-group" hidden>
        <label asp-for="PersonaId" class="control-label"></label>
        <select asp-for="PersonaId" class="form-control" asp-items="ViewBag.PersonaId"></select>
        <input asp-for="ArchivoAdjunto" class="form-control" />
    </div>
</form>
    
<div>
    <a asp-controller="Persona" asp-action="EditarPerfil" asp-route-userName="@persona.Email">Regresar</a>
</div>

