@model IVSoftware.Data.Models.MaintenanceModel

@{
    ViewData["Title"] = "Mantenimiento o calibración";
}

<h1>@Html.DisplayFor(model => model.TypeOfMaintenance)</h1>

<h3>¿Estás seguro de querer eliminar la información?</h3>
<div>
    <hr />
    <dl class="row">
        @if (Model.TypeOfMaintenanceId.Equals("C"))
        {
            <dt class="col-sm-2" style="white-space:nowrap">
                @Html.Raw("Fecha de calibración")
            </dt>
        }
        else
        {
            <dt class="col-sm-2" style="white-space:nowrap">
                @Html.DisplayNameFor(model => model.MaintenanceDate)
            </dt>
        }

        <dd class="col-sm-10" style="margin-left:5px">
            @Html.DisplayFor(model => model.MaintenanceDate)
        </dd>

        <dt class="col-sm-2" style="white-space:nowrap">
            @Html.DisplayNameFor(model => model.Diagnostic)
        </dt>
        <dd class="col-sm-10" style="margin-left:5px">
            @Html.DisplayFor(model => model.Diagnostic)
        </dd>

        <dt class="col-sm-2" style="white-space:nowrap">
            @Html.DisplayNameFor(model => model.WorkExecuted)
        </dt>
        <dd class="col-sm-10" style="margin-left:5px">
            @Html.DisplayFor(model => model.WorkExecuted)
        </dd>

        <dt class="col-sm-2" style="white-space:nowrap">
            @Html.DisplayNameFor(model => model.Observations)
        </dt>
        <dd class="col-sm-10" style="margin-left:5px">
            @Html.DisplayFor(model => model.Observations)
        </dd>

        @if (Model.TypeOfMaintenanceId.Equals("C"))
        {
            <dt class="col-sm-2" style="white-space:nowrap">
                @Html.DisplayNameFor(model => model.NextCalibrationDate)
            </dt>
            <dd class="col-sm-10" style="margin-left:5px">
                @Html.DisplayFor(model => model.NextCalibrationDate)
            </dd>
        }
    </dl>

    <!--Equipment information-->
    <h5 style="color:yellowgreen">Información del equipo</h5>
    <hr />
    <input hidden asp-for="EquipId" id="txt_equipment_id" />
    <div style="margin-left:5px" id="div_equipment_info">

    </div>

    <!--Provider information-->
    <h5 style="color:yellowgreen">Información del proveedor de mantenimiento</h5>
    <hr />
    <input hidden asp-for="ProviderId" id="txt_provider_id" />
    <div style="margin-left:5px" id="div_provider_info">

    </div>

    <!--Responsable information-->
    <h5 style="color:yellowgreen">Información del responsable</h5>
    <hr />
    <input hidden asp-for="PersonId" id="txt_responsable_id" />
    <div style="margin-left:5px" id="div_responsable">

    </div>

    <!--Additional information-->
    <h5 style="color:yellowgreen">Información adicional</h5>
    <hr />
    <dl class="row">
        <dt class="col-sm-2" style="white-space:nowrap">
            @Html.DisplayNameFor(model => model.RegisterStatus)
        </dt>
        <dd class="col-sm-10" style="margin-left:5px">
            @Html.DisplayFor(model => model.RegisterStatusName)
        </dd>
        <dt class="col-sm-2" style="white-space:nowrap">
            @Html.DisplayNameFor(model => model.CreationDatetime)
        </dt>
        <dd class="col-sm-10" style="margin-left:5px">
            @Html.DisplayFor(model => model.CreationDatetime)
        </dd>
        <dt class="col-sm-2" style="white-space:nowrap">
            @Html.DisplayNameFor(model => model.ModificationDatetime)
        </dt>
        <dd class="col-sm-10" style="margin-left:5px">
            @Html.DisplayFor(model => model.ModificationDatetime)
        </dd>
    </dl>

    <h5 style="color:yellowgreen">Certificado de mantenimiento y/o calibración</h5>
    <hr />
    <dl class="row">
        <dd class="col-sm-10" style="margin-left:5px">
            @if (Model.MaintenanceCertificateDocument != null && Model.MaintenanceCertificateDocument.Url != null && !string.IsNullOrEmpty(Model.MaintenanceCertificateDocument.Url.Replace(" ", string.Empty)))
            {
                <a asp-action="DownloadFile" asp-route-fileName="@Model.MaintenanceCertificateDocument.Url">Descargar: @Model.MaintenanceCertificateDocument.Name</a>
            }
            else
            {
                @Html.Raw("No se han adjuntado ningún documento")
            }
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script>

    $(window).on('load', function () {
        selectResponsableOnLoad();
        selectProviderOnLoad();
        selectEquipmentOnLoad();
    });

    function selectResponsableOnLoad() {
        selectPerson($("#txt_responsable_id").val());
    }

    function selectProviderOnLoad() {
        selectProvider($("#txt_provider_id").val());
    }

    function selectEquipmentOnLoad() {
        selectEquipment($("#txt_equipment_id").val());
    }

    function selectPerson(id) {

        var url = "@Url.Action("GetPersonByGuid")";

        // Obtains the person data with ID
        $.get(url, { identification: id }, function (data) {
            if (data != null)
            {
                $("#div_responsable").html(data);
            }
        });
    }

    function selectProvider(id) {

        var url = "@Url.Action("GetProvider")";

        // Obtains the povider data with ID
        $.get(url, { identification: id }, function (data) {
            if (data != null)
            {
                $("#div_provider_info").html(data);
            }
        });
    }

    function selectEquipment(id) {

        var url = "@Url.Action("GetEquipment")";

        // Obtains the equipment data with ID
        $.get(url, { identification: id }, function (data) {
            if (data != null)
            {
                $("#div_equipment_info").html(data);
            }
        });
    }
</script>
